<div class="activities">
    <div class="border-top"></div>
    <div class="container">
        <div class="padding-more">
            <h4 class="head-team">Activities</h4>
            <p> After a couple of decades of researching and collecting art, Aura Art was formed in April 2006 by the Core Team (comprising of Daljit Singh Sethi and his sons Harmeet and Rishiraj), to fill the gaps in the Indian Art Industry - identifying and discovering value amongst the best of Indian art, utilising every available platform to promote art, assisting art lovers in building and maintaining their collections, working closely with the design space to meet their aesthetic requirements - with an aspiration to migrate to a fully Integrated Art House.  Aura Art now boasts of some of the most prominent personalities from all walks of life in its <a class="link-page" href="#/team">Team</a>.</p>

            <p> To achieve the above, the Core Team of Aura Art has established Aura Art Development Pvt Ltd (April 2008) and Aura Art eConnect Pvt Ltd (March 2015) to carry out the following activities, to further its primary objective of promoting Indian Art, keeping the long term interest of all stakeholders in perspective.</p>
            <ul>
                <li>To collect/ identify, through a tedious process of selection, the choicest works (paintings and sculptures) of artists of caliber, both known and unknown.</li>
                <li>To give such chosen works of art the widest possible exposure, so that people at large become sensitive to qualities that distinguish the extraordinary from the ordinary.</li>
                <li>To establish art as an asset class and educate buyers on the opportunities and challenges of wealth creation through art.</li>
                <li>To provide Integrated Art Offerings to Corporates, Realty Developers, Architects and Interior Designers, including commissioned projects.</li>
                <li> To provide Art Infrastructure Servicesto Collectors, Corporates and other Institutions including, inter-alia, assistance with the following activities(in-house as well as through Partners):</li>
                <ul>
                    <li>Art Collection Management (documenting, databasing and cataloguing)</li>
                    <li>Valuation and Insurance</li>
                    <li>Conservation and Restoration</li>
                    <li>Packing and Transportation</li>
                    <li>Trusteeship and Warehousing</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
