<div class="border-top"></div>
<div class="container" id="infra-services">
    <div class="padding-more brd-btm">
        <h3 class="home-header font-color3">Art Infrastructure Services</h3>

        <h5 class="home-header font-color3">ACTIVITIES</h5>
        <p>In line with its aspiration to migrate to a fully Integrated Art House, Aura Art Development Pvt Ltd is pleased to offer Art Infrastructure Solutions (through provision of services and products, in-house as well as through Partners), to Collectors,
            Corporates, Galleries and other Institutions, including, inter-alia, assistance with the following activities.</p>
        <div class="row-unflex pad-flex">
            <div class="col-mix" ng-repeat="activity in activities">
                <div class="box-style1">
                    <div class="img-holder">
                        <img alt="demo" class="img-responsive" ng-src="{{activity.homeimage | uploadthumbnail}}">
                    </div>
                    <h5>{{activity.name}}</h5>
                    <p ng-bind-html="activity.activityinbrief"></p>
                    <a class="more2" ui-sref="artInfrastructureID({ id: '{{activity._id}}' })" ng-if="activity.detail1 || activity.detail2 || activity.image">Click for more</a>
                    <a class="more2" ng-if!="activity.detail1 || activity.detail2 || activity.image"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- New HTML -->
    <div class="partners padding-more brd-btm">
        <h5 class="home-header font-color3">PARTNERS</h5>
        <div class="row heght-readmore" ng-repeat="data in partners">
            <div class="col-md-2">
                <p class="bold">{{data.name}}</p>
            </div>
            <div class="col-md-1">
                <img ng-src="{{data.image | uploadthumbnail}}" alt="" class="img-responsive"></div>
            <div class="col-md-4">
                <p ng-bind-html="data.profileofpartner"></p>
            </div>
            <div class="col-md-4">
                <p ng-bind-html="data.associationwithauraart"></p>
            </div>
            <div class="col-md-1">
                <a class="btn btn-primarys" href="{{data.pdf | uploadpath}}" target="_blank" style="font-size:10px;">View PDF</a>
            </div>
        </div>
    </div>
    <div class="partners padding-more brd-btm">
        <h5 class="home-header font-color3">PROJECTS EXECUTED</h5>
        <div class="row" ng-repeat="project in projects">
            <div class="" ng-repeat="data in project">
                <div class="heght-readmore">
                    <div class="col-md-2">
                        <p class="bold">{{data.title}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="bold">{{data.activity.name}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="bold">{{data.periodofproject}}</p>
                    </div>
                    <div class="col-md-4">
                        <p ng-bind-html="data.briefprojectdescription"></p>
                    </div>
                    <div class="col-md-2">
                        <img ng-src="{{data.image | uploadthumbnail}}" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- <div class="text-right">
                    <a class="more2">Readmore</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="partners padding-more testimonial brd-btm" ng-if="testimonials">
        <h5 class="home-header font-color3"> TESTIMONIALS </h5>
        <div class="row">
            <flex-slider animation-loop="true" animation="fade" class="carousel" flex-slide="testimonial in testimonials">
                <li>
                    <div class="row">
                        <div class="col-md-2">
                      <p class="title bold">{{testimonial.projecttitle}}</p>
                        </div>
                        <div class="col-md-2">
                          <p class="name bold">{{testimonial.name}},
                              <span class="font-color3">{{testimonial.designation}}</span>
                          </p>
                        </div>
                        <div class="col-md-2">
                          <p class="category bold">{{testimonial.activity.name}}</p>
                        </div>
                        <div class="col-md-4">
                          <div class="img-holder inline-box-infra">
                              <div class="description" ng-bind-html=testimonial.testimonial></div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="img-holder inline-box-infra">
                              <figure>
                                  <img ng-src="{{testimonial.image | uploadthumbnail}}" alt="">
                              </figure>
                          </div>
                          <a class="btn btn-primarys mt10" href="{{data.pdf | uploadpath}}" target="_blank" style="font-size:10px;">View PDF</a>
                        </div>
                            <!-- <ul class="row-flex list-unstyled no-pl">
                                <li class="img-holder inline-box-infra">
                                    <figure>
                                        <img ng-src="{{testimonial.image | uploadthumbnail}}" alt="">
                                    </figure>
                                </li>
                                <li class="title inline-box-infra pl10">
                                    <p class="title">{{testimonial.projecttitle}}</p>
                                    <p class="name">{{testimonial.name}},
                                        <span class="font-color3">{{testimonial.designation}}</span>
                                    </p>
                                    <p class="designation"></p>
                                    <p class="category">{{testimonial.activity.name}}</p>
                                    <div class="description" ng-bind-html=testimonial.testimonial></div>
                                    </p>
                                    </p>
                                </li>
                            </ul> -->
                    </div>
                </li>
            </flex-slider>
        </div>
    </div>
    <!--End New New HTML -->
    <div>
        <div class="data-managment" ng-repeat="activity in activities" ng-if="activity.detail1 || activity.detail2 || activity.image" id="{{activity._id}}">
            <div class="row-head">
                <p class="font-color3">{{activity.name}}</p>
            </div>
            <div class="margin" ng-if="activity.image">
                <img src="{{activity.image | uploadpath}}" class="img-responsive">
            </div>
            <div class="row margintp">
                <div class="col-md-6">
                    <div class="row-headleft colorblack" ng-bind-html="activity.detail1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row-headleft colorblack" ng-bind-html="activity.detail2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
