<div class="border-top"></div>
<div class="artist-detail">
   <div class="container">
      <div class="cont-artist">
         <h4 class="head-team margin-no">{{artistdetail.name}}
        <a class="readmore" ng-init="status.open = false;" ng-click="status.open = !status.open;">View Profile</a>
        <a class="readmore" ui-sref="editartist({id:artistid})" ng-show="status.open">Edit</a>
      </h4>
         <accordion>
            <accordion-group is-open="status.open">
               <div class="row">
                  <div class="col-md-6">
                     <p>
                        <span class="bold" ng-if="artistdetail.dob || artistdetail.stateofb">Born </span>
                        <span class="bold" ng-if="artistdetail.dob && artistdetail.dob!=''">in </span> {{artistdetail.dob}}
                        <span class="bold" ng-if="artistdetail.stateofb && artistdetail.stateofb!=''">at</span> {{artistdetail.stateofb}}
                     </p>
                     <p ng-if="artistdetail.passedaway">
                        <span class="bold">Passed away in {{artistdetail.passedaway}}</span>
                     </p>
                     <p ng-if="artistdetail.edu && artistdetail.edu.length>0 && (artistdetail.edu[0].year || artistdetail.edu[0].quali || artistdetail.edu[0].institu || artistdetail.edu[0].city)">
                        <span class="bold">Education</span>
                        <span ng-repeat="edu in artistdetail.edu">
                  <br>
                  <span ng-if="edu.year">{{edu.year}}</span>
                        <span class="negmargin" ng-if="edu.year && edu.quali">, </span>
                        <span ng-if="edu.quali">{{edu.quali}}</span>
                        <span class="negmargin" ng-if="edu.quali && edu.institu">, </span>
                        <span ng-if="edu.institu">{{edu.institu}}</span>
                        <span class="negmargin" ng-if="edu.institu && edu.city">, </span>
                        <span ng-if="edu.city">{{edu.city}}</span>
                        </span>
                        <!--<br>2008, Master of Fine Arts, Jamia Milia Islamia University, New Delhi-->
                     </p>
                     <p ng-if="artistdetail.award && artistdetail.award.length>0 && (artistdetail.award[0].year || artistdetail.award[0].title || artistdetail.award[0].institution)">
                        <span class="bold">Awards / Recognitions / Honors </span>
                        <span ng-repeat="awards in artistdetail.award">
                  <br>
                  <span ng-if="awards.year">{{awards.year}}</span>
                        <span class="negmargin" ng-if="awards.year && awards.title">, </span>
                        <span ng-if="awards.title">{{awards.title}}</span>
                        <span class="negmargin" ng-if="awards.title && awards.institution">, </span>
                        <span ng-if="awards.institution">{{awards.institution}}</span>
                        </span>
                     </p>
                  </div>
                  <div class="col-md-6">
                     <p ng-if="artistdetail.auction && artistdetail.auction.length>0 && (artistdetail.auction[0].year || artistdetail.auction[0].auctionhouse || artistdetail.auction[0].location || artistdetail.auction[0].details)">
                        <span class="bold">Auctions</span>
                        <span ng-repeat="auction in artistdetail.auction">
                  <br>
                  <span ng-if="auction.year">{{auction.year}}</span>
                        <span class="negmargin" ng-if="auction.year && auction.auctionhouse">, </span>
                        <span ng-if="auction.auctionhouse">{{auction.auctionhouse}}</span>
                        <span class="negmargin" ng-if="auction.auctionhouse && auction.location">, </span>
                        <span ng-if="auction.location">{{auction.location}}</span>
                        <span class="negmargin" ng-if="auction.location && auction.details">, </span>
                        <span ng-if="auction.details">{{auction.details}}</span>
                        </span>
                     </p>
                     <p ng-if="artistdetail.soloshow && artistdetail.soloshow.length>0 && (artistdetail.soloshow[0].year || artistdetail.soloshow[0].title || artistdetail.soloshow[0].gallery || artistdetail.soloshow[0].venue || artistdetail.soloshow[0].city)">
                        <span class="bold">Solo Shows</span>
                        <span ng-repeat="solo in artistdetail.soloshow">
                  <br>
                  <span ng-if="solo.year">{{solo.year}}</span>
                        <span class="negmargin" ng-if="solo.title">, {{solo.title}}</span>
                        <span class="negmargin" ng-if="solo.gallery">, {{solo.gallery}}</span>
                        <span class="negmargin" ng-if="solo.venue">, {{solo.venue}}</span>
                        <span class="negmargin" ng-if="solo.city">, {{solo.city}}</span>
                        </span>
                     </p>
                     <p ng-if="artistdetail.groupshow && artistdetail.groupshow.length>0 && (artistdetail.groupshow[0].year || artistdetail.groupshow[0].title || artistdetail.groupshow[0].gallery || artistdetail.groupshow[0].venue || artistdetail.groupshow[0].city)">
                        <span class="bold">Group Shows</span>
                        <span ng-repeat="group in artistdetail.groupshow">
                  <br>
                  <span ng-if="group.year">{{group.year}}</span>
                        <span class="negmargin" ng-if="group.title">, {{group.title}}</span>
                        <span class="negmargin" ng-if="group.gallery">, {{group.gallery}}</span>
                        <span class="negmargin" ng-if="group.venue">, {{group.venue}}</span>
                        <span class="negmargin" ng-if="group.city">, {{group.city}}</span>
                        </span>
                     </p>
                  </div>
               </div>
            </accordion-group>
         </accordion>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6" ng-repeat="artistdetails in artistdetail.artwork">
            <div class="artist-details">
               <a ng-click="goToDetail(artistdetails);">
                  <div class="image-holders" fixit>
                     <img class="fix-img" ng-src='{{artistdetails.image[0]|uploadthumbnail}}'>
                  </div>
               </a>
               <div class="artist-cont-detail">
                  <p>
                     <!-- <span ng-if="artistdetails.srno && artistdetails.srno!=''">
                                    {{artistdetails.srno}}
                                </span>
                            <span ng-if="!artistdetails.srno || artistdetails.srno==''">
                                    N/A
                                </span> -->
                     <span ng-if="artistdetails.imageno">
                {{artistdetails.imageno}}
              </span>
                     <span ng-if="!artistdetails.imageno">
                N/A
              </span>
                     <i class="{{artistdetails.heartClass = (artistdetails._id | showheart)}}" ng-click="addToFav(artistdetails);"></i>
                     <i class="fa fa-shopping-cart" ng-click="addToCart(artistdetails);" ng-if="artistdetails.status!='sold'"></i>
                     <span class="font-color3 bold pd5" ng-if="artistdetails.status=='sold'">Sold</span>
                  </p>
                  <p>
                     <span ng-if="artistdetails.name && artistdetails.name!=''">
                {{artistdetails.name}}
              </span>
                     <span ng-if="!artistdetails.name || artistdetails.name==''">
                N/A
              </span>
                  </p>
                  <p>
                     <span ng-if="artistdetails.subtype.length>0 && artistdetails.subtype[0].name!=''">
                {{artistdetails.subtype[0].name}}
              </span>
                     <span ng-if="!artistdetails.subtype || artistdetails.subtype.length==0">
                N/A
              </span>
                  </p>
                  <p>
                     {{artistdetails|makesizestr}}
                     <!-- {{artistdetails.dim}} inches -->
                  </p>
                  <p ng-if="artistdetails.yoc && artistdetails.yoc!=''">
                     <span ng-if="artistdetails.yoc && artistdetails.yoc!=''">
                {{artistdetails.yoc}}
              </span>
                     <span ng-if="!artistdetails.yoc || artistdetails.yoc==''">
                N/A
              </span>
                  </p>
                  <p>
                     <span ng-if="artistdetails.gprice && artistdetails.gprice!='N/A'">
                Rs {{artistdetails.gprice|number:0}} / ${{artistdetails.gprice|indollars}}
              </span>
                     <span ng-if="!artistdetails.gprice || artistdetails.gprice=='N/A'">
                Available on request
              </span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
