<div class="border-top"></div>
<div class="container" id="infra-services">
	<div class="padding-more">
		<h3 class="home-header font-color3">Art Infrastructure Services</h3>
		<p>In line with its aspiration to migrate to a fully Integrated Art House, Aura Art Development Pvt Ltd is pleased to offer Art Infrastructure Solutions (through provision of services and products, in-house as well as through Partners), to Collectors,
			Corporates, Galleries and other Institutions, including, inter-alia, assistance with the following activities.</p>

		<div class="row-flex row-unflex pad-flex">
			<div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art3.jpg">
	        </div>
	        <h5>Data Management</h5>
	        <p>Documenting the Collection, photographing and presenting the same online / offline</p>
	        <a class="more2"  ui-sref="artInfrastructureID({ id: 'data' })">Click for more</a>
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art8.jpg">
	        </div>
	        <h5>Valuation &amp; Insurance</h5>
	        <p>Valuing the Art Collection and providing assistance/ guidance in insuring the same</p>
	    		<a ui-sref="artInfrastructureID({ id: 'valuation' })"  class="more2">Click for more</a>
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art2.jpg">
	        </div>
	        <h5>Conservation &amp; Restoration</h5>
	        <p>Restoring the collection through professionals and providing guidance on on-going preservation</p>
	        <a  class="more2" ui-sref="artInfrastructureID({ id: 'conservation' })" >Click for more</a>
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art5.jpg">
	        </div>
	        <h5>Strategy for Art Initiatives including CSR</h5>
	        <p>Integrating art initiatives into the CSR strategy of Corporates, PSUs and other Institutions</p>
	          <a class="more2" ui-sref="artInfrastructureID({ id: 'art' })" >Click for more</a>
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art4.jpg">
	        </div>
	        <h5>Packing &amp; Logistics</h5>
	        <p>Advice on best practices for packing and provide assistance for transportation</p>
	        <!-- <a class="more2" href="#">Click for more</a> -->
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="Archival Facility Set-up" class="img-responsive" src="img/home/artpress/art1.jpg">
	        </div>
	        <h5>Archival Facility Set-up</h5>
	        <p>Assistance in developing and implementing plan for setting up archival facility (for non-art objects as well)</p>
	        <!-- <a class="more2" href="#">Click for more</a> -->
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art7.jpg">
	        </div>
	        <h5>Trusteeship &amp; Warehousing</h5>
	        <p>Assist in implementing a Trust structure and identifying facilities for securing the Collection</p>
	        <!-- <a class="more2" href="#">Click for more</a> -->
	      </div>
	    </div>
	    <div class="col-flex">
	      <div class="box-style1">
	        <div class="img-holder">
	          <img alt="demo" class="img-responsive" src="img/home/artpress/art6.jpg">
	        </div>
	        <h5>Training &amp; Workshops</h5>
	        <p>Provide training and workshops on art appreciation and physical management of the Collection</p>
	        <!-- <a class="more2" href="#">Click for more</a> -->
	      </div>
	    </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="data-managment" id="data">
		<div class="row-head">
			<p class="font-color3">Data Management</p>
		</div>
		<div class="row margintp">
			<div class="col-md-6">
				<div class="row-headleft">
					<span>1. Planning Stage</span>
					<ul>
						<li><strong>Identify the Collection </strong>to be mapped including various categories (paintings, sculptures, prints etc)</li>
						<li>Assess the number of items under each category, to ascertain the total collection size</li>
						<li>Identify the various <strong>locations</strong> where the collection is housed</li>
						<li>Gather preliminary data readily available</li>
					</ul>
					<span>2. Photographing the Collection</span>
					<ul>
						<li>Engage a <strong>professional photographer</strong> with experience in photographing fine art</li>
						<li>May include unpacking framed works, stretching of rolled canvases, unframing of glass works to get high quality photos</li>
						<li> <strong>Editing</strong> the photos, including  <strong>color correction, cropping and conversion</strong> to Jpeg format (300dpi)</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row-headleft">
					<span>3. Data Collection</span>
					<ul>
						<li>Collect the <strong>necessary documents</strong>, like invoices, authentication certificates, condition report (if any previous restoration done), featured in any catalogue (auction/show) etc.</li>
						<li><strong>Measure</strong> each Item in the Collection (with and without frame)</li>
						<li>Check if the work is signed and if so, placement of signature</li>
						<li>Assign a <strong>Permanent No</strong> for each Item in the collection</li>
					</ul>
					<span>4. Data Mapping and Presentation</span>
					<ul>
						<li>Compile all the gathered data in Excel</li>
						<li> <strong>Identify information gaps</strong> in the collection</li>
						<li>Map the final data on an  <strong>online platform (database)</strong> or present the findings in a  <strong>catalogue/coffee table book</strong></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="valuation-insurance" id="valuation">
		<div class="row-head">
			<p class="font-color3">Valuation &amp; Insurance</p>
		</div>
		<div class="row margintp">
			<div class="col-md-6">
				<div class="row-headleft">
					<span>1. Valuation</span>
					<p> Once the data for the Collection has been mapped, Aura Art Development Pvt Ltd ("AADPL") will Value the Art Collection, based on available benchmarks.</p>

					<ul>
						<li>Auction records constitute the most credible third party data available to the public. AADPL has consistently mapped all auction results (by Sotheby's, Christies, Osians, Saffronart etc) of significant Indian artists over last 10 years.</li>
						<li>Each Painting is valued within the range of Per Sq Feet values that similar works of the respective artists command, to the extent data is available.</li>
						<li>For other cases, we will utilize our industry network to create appropriate bench marks.</li>

					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row-headleft">
					<span>2. Insurance</span>
					<p> Once the Art Collection is valued, we will provide guidance for insuring the collection, viz:</p>

					<ul>
						<li>Identify which part of the collection to be insured and value: cost vs market value</li>
						<li>Risks to be covered (stay risks vs transit risks) and exclusions</li>
						<li>Negotiate quotes and other terms with insurer(s)</li>
						<li>Guide on checks and balances to be put in place on an on-going basis. Periodic review to assess compliance with intended processes, to ensure smooth and efficient renewal</li>

					</ul>

				</div>
			</div>
		</div>
	</div>
	<div class="conservation" id="conservation">
		<div class="row-head">
			<p class="font-color3">Conservation &amp; Restoration</p>
		</div>
		<div class="margin">
			<img src="img/conversation.jpg" class="img-responsive">
		</div>
	</div>
	<!--
    <div class="row">
        <div class="panel-set">
            <div class="col-md-2">
                <div class="panels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Preliminary Observation
                        </div>
                        <div class="panel-body">
                            Prima facie review of items displaying visual signs of degradation
                        </div>
                    </div </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Condition Report
                        </div>
                        <div class="panel-body">
                            Documentation of the present condition of the object by an expert Restorer, along with drawings/photos, past treatment evidence, methods of examination and testing
                        </div>
                    </div </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Treatment Proposal
                        </div>
                        <div class="panel-body">
                            Includes materials to be used, time estimate, cost estimate, objectives and limitations of treatment, benefits and risks, general description of properties of materials to be used
                        </div>
                    </div </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="panels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Client-decision Parameters
                        </div>
                        <div class="panel-body">
                            - Stabilization (to maintain the integrity of an object) vs Restoration (treatment procedures intended to return the object to a known or assumed state)
                            <br> - Treatment to be done on-site / off-site
                        </div>
                    </div </div>
                </div>
            </div>

        </div>
    </div>-->
	<div class="art-initiative" id="art">
		<div class="row-head">
			<p class="font-color3">Strategy for Art Initiatives including CSR</p>
		</div>
		<div class="row margintp">
			<div class="col-md-12">
				<div class="row-headleft col-2">
					<ul class="decimal">
						<li>Artists respond to the world around them, create links between communities by developing work that is inclusive/ socially relevant, through an alternative voice of creativity. Therefore, exposing such art to people can enable them to understand
							their cultural, social, political, economic and natural environments better.</li>
						<li>Since India prides on its rich heritage and culture, corporate support towards the conservation and preservation of arts, heritage sites, manuscripts etc is vital.</li>
						<li>Art is an effective way to engage/ interact with the community in an interesting way – hence the importance of Public art, including through public-private partnerships.</li>
					<!-- </ul> -->
				<!-- </div>
			</div>
			<div class="col-md-6">
				<div class="row-headleft"> -->
					<!-- <ul class="decimal"> -->
						<li>Art triggers emotion and sensitizes people, therefore exposure to various kinds of art can soften people and lead to personal growth and sooth their nerves.</li>
						<li>Promotion of arts education can enable people to discover their inherent creative capability and provide a means of self expression and fulfillment.</li>
						<li>Art programs aimed at the upliftment of artists with lack of means and resources can foster better talent and eventually add to the already rich cultural fabric of India.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
