<div class="padding-more text-justify">
  <div class="container">
    <div class="terms-cont no-modify">

      <h4 class="head-team">Terms &amp; Conditions</h4>
      <ol>
        <li>Registration
          <ol>
            <li>You agree to abide by all provisions prescribed in these terms and conditions.
            </li>
            <li>The Buyer warrants that all the information furnished at the time of Registration is true and correct and any change in the information provided will be updated and intimated to Aura Art at the time of purchase or earlier. Aura Art is entitled
              to act on the basis of the information provided and seek such further information, clarifications or verifications as it may deem necessary for granting Registration. Such Registration may be suspended or cancelled where Aura Art forms a
              reasonable view that any of the above information may be inaccurate. However, such registration will be restored upon the buyer furnishing information to the satisfaction of Aura Art.</li>
          </ol>
        </li>
        <li>
          Placing an Order
          <ol>
            <li>Placing an order on the Website constitutes an irrevocable acceptance of the Purchase. Customer can cancel the order within 1 hour after placing the order. Unless rescinded/cancelled by Aura Art within 3 working days on account of a default
              by the Seller or any prior or continuing breach by the Buyer, such acceptance results in an enforceable contract of Sale. The contract of Sale is between Aura Art (acting as the agent of the Seller) and the Buyer.</li>
            <li>Aura Art shall have the right to cancel any order placed on its Website, at any time prior to the delivery of the Artwork, without assigning any reason whatsoever. Aura Art shall assume no responsibility for any errors or omissions that may
              occur in the Description, Pricing or other content related to the Artwork. In the event of such an error, Aura Art reserves the right to cancel the order placed by the Buyer by informing the Buyer in writing via e mail. Aura Art is authorized
              by the Sellers to exercise complete discretion in (i) the illustration and descriptions of Artworks for viewing and sale and (ii) acceptance or rejection of orders received.

            </li>
          </ol>
        </li>
        <li>
          Payment
          <ol>
            <li>Prices for Artworks are specified with respective listings.
            </li>
            <li>Price mentioned with respective Artwork does not include applicable Taxes. The price mentioned also does not include Packing and Shipping Charges. Applicable Taxes and Charges will be separately identified as you place an order and before
              you proceed to pay.
            </li>
            <li>You agree that you are liable for any duties and taxes that might be applicable on the purchase of Artworks and such charges shall be payable in addition to the price of the Artwork.</li>
            <li>
              VAT is not applicable in case of qualifying export.
            </li>
            <li>
              Once an order is placed on the Aura Art Website the Buyer is required to make payment for the total price of the Artwork including duties, taxes as well as charges as explained above in point 3.2 within 4 working days from the date of placing the order.
              In the event that Aura Art does not receive payment within 4 working days Aura Art reserves the right to cancel the order without prior notice to the Buyer.
            </li>
            <li>Aura Art prefers that the payment is made from your own Bank Account. However, in case you arrange for the payment to be made from another Bank Account, you have to provide a Declaration carrying the signature of that Account Holder alongwith
              yours. Aura Art will provide you with the Declaration format. Buyers with Indian billing addresses are Invoiced in INR and buyers with non-Indian billing addresses are Invoiced at the prevailing Rupee equivalent amount at the time of billing,
              either in the currency of that country or USD, as convenient to Aura Art.</li>
          </ol>
        </li>
        <li>
          Packing and Shipping
          <ol>
            <li>The Artwork will be delivered/shipped to the Buyer once all necessary documentation relating to transportation, tax, etc as may be reasonably requested for by Aura Art are completed and payment has been realized in full including any additional
              charges. Process of Shipping will be initiated within 3 working days thereafter. Transit insurance costs will be included in such additional charges, unless specifically advised otherwise by the Buyer.
            </li>
            <li>In the event that the Buyer chooses to himself collect the Artwork from Aura Art’s office at Mumbai he must do so within two weeks of Aura Art receiving the payment. In the event that the Artwork is not so collected within a period of two
              weeks, Aura Art shall at its discretion arrange for storage of the Artwork at the Buyer's expense, and shall only release the Artwork after payment has been made in full for storage, insurance and any other overdue payments from the Buyer.</li>
          </ol>
        </li>
        <li>
          Return of Artwork
          <ol>
            <li>Aura Art is not obligated to provide any physical preview of the Artwork either before or after the Sale. Aura Art is in no way liable for the condition of the Artwork. The Buyer reserves the right to return an Artwork purchased by him / her
              /it if there is a material difference between the colour or physical condition of the actual Artwork and its image, as shown on the Website. The Buyer also reserves the right to return an Artwork purchased by him / her / it, if there is
              a material difference between the actual size of the Artwork and that mentioned on the Website.</li>
            <li>5.2) Aura Art will accept returns of an Artwork and issue a refund to the Buyer only if the Artwork is delivered to the Buyer damaged and Aura Art is accordingly informed by the Buyer within 24 hours of delivery of the Artwork at
              <a href="connect@auraart.in">connect@auraart.in</a> and
              <a href="harmeet@auraart.in">harmeet@auraart.in</a>, and Aura Art is not able to rectify / replace the Artwork within a period of 21 days. Refund will be processed through NEFT within 10 working days thereafter.
            </li>
          </ol>
        </li>
        <li>
          General Terms
          <ol>
            <li>An Artwork made available for Sale on the Website may not or may not be in the physical possession of Aura Art and may be physically located anywhere in the world.</li>
            <li>All Artworks displayed on the Website are supported by an Authenticity Certificate from Artist / Seller or Aura Art on behalf of the Artist / Seller.</li>
            <li>
              Aura Art reserves the right to change the Terms, Conditions, and Notices under which the Website is offered, including but not limited to the charges, if any, associated with the use of the Website. You are responsible for regularly reviewing these Terms
              and Conditions.
            </li>
            <li>
              You shall use the Website in good faith and for the essential purposes for which the Website is intended. Unless otherwise specified, the Website is for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform,
              reproduce, publish, license, create derivative works from, transfer, or sell any information, software, artworks or Services obtained from the Website.
            </li>
            <li>
              As a condition of your use of the Website, you warrant to Aura Art that you will not use the Website for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Website in any manner which could damage,
              disable, overburden, or impair the Website or interfere with any other party's use and enjoyment of the Website. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided
              for through the Website.
            </li>
            <li>
              Any data you provide to Aura Art is governed by the terms of our
              <a href="#/privacy-policy"></a> Policy”.
            </li>
            <li>
              Software (if any) that is made available to download from the Website, excluding software that may be made available by end-users through a Communication Service, ("Software") is the copyrighted work of Aura Art and/or its suppliers. Aura Art hereby grants
              to you, the user, a personal, non-transferable license to use the Software for viewing and otherwise using the particular Site in accordance with these Terms of Use, and for no other purpose. Without limiting the foregoing, copying or reproduction
              of the software to any other server or location for further reproduction or redistribution is expressly prohibited.
            </li>
            <li>
              The information, software, products, and services included in or available through the Website may include inaccuracies or typographical errors. Changes are periodically added to the information herein. Aura Art and/or its respective suppliers may make
              improvements and/or changes in the Website at any time. Advice received via the Website should not be relied upon for personal, medical, legal or financial decisions and you should consult an appropriate professional for specific advice
              tailored to your situation.
            </li>
            <li>
              Aura Art and/or its respective suppliers make no representations about the suitability, reliability, availability, timeliness, and accuracy of the information, software, artworks, services and related graphics contained on the Website for any purpose.
              All such information, software, artworks, services and related graphics are provided "as is" without warranty of any kind. Aura Art and/or its respective suppliers hereby disclaim all warranties and conditions with regard to this information,
              software, artworks, services and related graphics, including all implied warranties and conditions of merchantability, fitness for a particular purpose, title and non-infringement.
            </li>
            <li>
              In no event shall Aura Art and/or its suppliers be liable for any direct, indirect, punitive, incidental, special, consequential damages or any damages whatsoever including, without limitation, damages for loss of use, data or profits, arising out of
              or in any way connected with the use or performance of the Website, with the delay or inability to use the Website or related services, the provision of or failure to provide services, or for any information, software, artworks, services
              and related graphics obtained through the Website, or otherwise arising out of the use of the Website, whether based on contract, tort, negligence, strict liability or otherwise, even if Aura Art or any of its suppliers has been advised
              of the possibility of damages. If you are dissatisfied with any portion of the Website, or with any of these terms of use, your sole and exclusive remedy is to discontinue using the Website.
            </li>
            <li>
              Aura Art reserves the right, in its sole discretion, to terminate your access to the Website and the related services or any portion thereof at any time, without notice.
            </li>
            <li>
              These Terms and Conditions of Use are governed by the laws of India. You hereby consent to the exclusive jurisdiction and venue of courts in Mumbai, India, in all disputes arising out of or relating to the use of the Website. Use of the Website is unauthorized
              in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph. You agree that no joint venture, partnership, employment, or agency relationship exists between you
              and Aura Art as a result of this agreement or use of the Website. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability
              limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall
              continue in effect. Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Aura Art with respect to the Website and it supersedes all prior or contemporaneous communications and proposals,
              whether electronic, oral or written, between the user and Aura Artwith respect to the Website. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based
              upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
            </li>
            <li>All contents of the Website are copyright protected in favour of Aura Art and/or its suppliers. All trademarks, names, brand names, etc used on the Website are either trademarks or registered trademarks of Aura Artor its associated companies.
              Any rights not expressly granted herein are reserved.</li>
            <li>
              You agree to abide by all provisions prescribed in the order forms submitted by you for the purchase of any artworks from the Website. In particular, you warrant that all information that you submit will be true and accurate (including without limitation
              your credit card number and expiration date), and you agree to pay all charges plus all applicable taxes for the purchases made by you.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
<!-- <div class="text-center">
  <a class="btn btn-sucesses" href="" ng-click="makeReseller();">Agree</a>
  <a class="btn btn-sucesses" href="#/home">Disagree</a>
</div> -->
