<div class="border-top"></div>
<div class="info min-cont">
    <div class="container">
        <div class="row" ng-hide="showLoginErr">
            <div class="myaccnthead col-md-12">
                <h4>COMMISSION SCULPTURES</h4>
            </div>
            <div class="col-md-2" ng-init="activeIndex=null;">
                <div class="info-cont">
                    <ul class="info-li">
                        <li class="cat-list bold">Mahesh Mauraya</li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'profile'}" ng-click="changeTab('profile');">User Profile</li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'projects'}" ng-click="changeTab('projects');">Projects
                            <a href="" class="uppercase addnew">+new</a>
                        </li>
                        <li class="cat-list sub-catpointers" ng-class="{'bolds' : activeTab == 'projectschat' && activeIndex == $index}" ng-click="activeIndex=$index;getChats(ticket);" ng-repeat="ticket in tickets">{{ticket.title}}
                            (Proposal)</li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'viewprojects'}" ng-click="changeTab('viewprojects');">View All Projects
                        </li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'viewprojectsfavourite'}" ng-click="changeTab('viewprojectsfavourite');">Favourite</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'profile'">
                <div class="chngpswd-cont">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-id">
                                    <input class="form-control" ng-model="user.name" placeholder="Name*" required type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-id">
                                    <input class="form-control" ng-model="user.email" placeholder="Email ID*" required type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-id">
                                    <ui-select tagging tagging-label="('new')" ng-model="ticket.reference" theme="bootstrap" title="Choose Reference">
                                        <ui-select-match placeholder="Select User Profile">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="userprofile in userprofiles | filter: $select.search">
                                            <div ng-bind-html="userprofile | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-id">
                                    <input class="form-control" ng-model="user.phone" placeholder="Contact Number*" required type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <div class="input-id">
                                    <input class="form-control" ng-model="user.name" placeholder="User Name" required type="text">
                                </div> -->
                                <div class="input-id">
                                    <input class="form-control" ng-model="user.password" placeholder="Password*" required type="password">
                                </div>
                                <div class="input-id">
                                    <input class="form-control" ng-model="user.password" placeholder="Reenter Password*" required type="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-id userprofile-com">
                                    <div class="text-make">
                                        <textarea name="" placeholder="Address" class="form-control" id="" cols="30"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'projects'">
                <!-- <div class="sort-by" ng-click="showfilter(1)" ng-mouseleave="hidefilter(1)">
                    <i class="fa fa-sort-amount-asc"></i>
                    Sort By
                    <div class="megamenu ng-hide" ng-include="" src="filterval[1]" ng-show="filters[1]">
                        <div class="sort">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        Proposal Stage</div>
                                    <div class="">Execution Stage</div>
                                    <div class="">Closure</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class=" col-md-offset-1 col-md-10">
                        <div class="profile-img left"></div>
                        <div class="chngpswd-cont userprofile-chat userprofile-com">
                            <div class="form-group">
                                <form ng-submit="createTicket();">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.title" placeholder="Project Title*" required type="text">
                                            </div>
                                            <div class="input-id">
                                                <textarea class="form-control" name="" ng-model="ticket.brief" placeholder="Project Brief*" required id="" cols="30"></textarea>
                                            </div>
                                            <div class="input-id">
                                                <ui-select tagging tagging-label="('new')" ng-model="ticket.reference" theme="bootstrap" title="Choose Reference">
                                                    <ui-select-match placeholder="Choose Reference">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="userprofile in userprofiles | filter: $select.search">
                                                        <div ng-bind-html="userprofile | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.material" placeholder="Preferred Material to be Used" type="text">
                                            </div>
                                            <div class="form-inline size-input">
                                                <div class="input-id">
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.size" placeholder="Height" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.size" placeholder="Width" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.size" placeholder="Depth" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>mm</option>
                                                            <option>cm</option>
                                                            <option>meter</option>
                                                            <option>inches</option>
                                                            <option>feet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <input class="form-control" ng-model="ticket.budget" placeholder="Budget" type="text"> -->
                                            <div class="form-inline size-input">
                                                <div class="input-id">
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.size" placeholder="Start Price" type="text">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        to
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.size" placeholder="End Price" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1">
                                                            <option>Rs</option>
                                                            <option>USD</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.addinfo" placeholder="Any additional information" type="text">
                                            </div>
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.time" placeholder="Lead Time" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-make">
                                                <textarea name="" placeholder="Delivery Location" class="form-control" id=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center super-margin">
                                        <button class="btn btn-primarys uppercase" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-8" ng-if="activeTab == 'projectschat'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ticket pb20">
                            <label for="">
                                Ticket Number</label>
                            12333
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box-bord pad20">
                        <h5>Client</h5>
                        <div class="chat-content scroll-y" id="chatDiv">
                            <div class="row">
                                <div class=" col-md-offset-1 col-md-10">
                                    <div class="profile-img {{upSideClass}} bg-green">
                                        <h5 class="bold text-center">C</h5>
                                    </div>
                                    <div class="{{upClass}}">
                                        <div class="chat-cont">
                                            <div class="user-made">
                                                <h5 class="title font-color2 bold">{{ticketDetail.title}}</h5>
                                                <p>
                                                    {{ticketDetail.brief}}
                                                </p>
                                            </div>
                                            <div class="made-madein">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">References</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="img-inline-box">
                                                            <img src="img/artist/sculpture4.jpg" alt="">
                                                        </div>
                                                        <div class="img-inline-box">
                                                            <img src="img/artist/sculpture4.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Material</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont">
                                                            <p>{{ticketDetail.material}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Specific Size</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont">
                                                            <p>{{ticketDetail.size}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Budget</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont">
                                                            <p>Rs.
                                                                {{ticketDetail.budget | inlakhs}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Additional Info</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont">
                                                            <p>
                                                                {{ticketDetail.addinfo}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Lead Time</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont">
                                                            <p>{{ticketDetail.time}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-date text-right">
                                                <p>
                                                    <span>{{ticketDetail.client[0].name}}</span>,
                                                    <span>{{ticketDetail.timestamp | date:'MMM d, y h:mm a'}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="chat in chatsArr">
                                    <div class=" col-md-offset-1 col-md-10" ng-if="chat.status!=5">
                                        <div class="profile-img {{chat.upSideClass}} bg-brown">
                                            <h5 class="bold text-center">{{chat.character}}</h5>
                                        </div>
                                        <div class="{{chat.upClass}}">
                                            <div class="user-response">
                                                <!-- <h5>Hello Mr. XYZ,</h5> -->
                                                <p>
                                                    {{chat.message}}
                                                </p>
                                                <div class="time-date text-right">
                                                    <p>
                                                        <span>{{chat.name}}</span>,
                                                        <span>{{chat.timestamp | date:'MMM d, y h:mm a'}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-if="chat.status==5">
                                        <div class="dotted-milestone">
                                            <hr class="line-green">
                                            <div class="wait-conform">
                                                {{chat.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fixed-chat">
                            <div class="row">
                                <form ng-submit="saveTicketElement();">
                                    <div class="col-md-8">
                                        <div class="box-right pad0">
                                            <textarea name="" id="" placeholder="Please enter your text here" class="form-control" ng-model="chat.message" required></textarea>
                                        </div>
                                        <div class="box-desgnation pad0">
                                            <input name="" id="" placeholder="Please enter your Designation" class="form-control" ng-model="chat.designation">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-button text-center">
                                            <button class="btn btn-primary all-btn">
                                                Enter
                                            </button>
                                            <button class="btn btn-primary all-btn">
                                                Upload
                                            </button>
                                        </div>
                                        <!--<div class="box-button">
                                        <button class="btn btn-primary all-btn form-control">
                                            Mile Stone
                                        </button>
                                        </div>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'viewprojectsfavourite'">
              <div class="active-project comission-project">
                  <div class="panel">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="panel-head">
                                      <h4>
                                          Active Projects</h4>
                                  </div>
                              </div>
                              <div class="col-xs-20 ng-scope">
                                  <div class="aristimg-grp1 mb20">
                                      <div class="relative" ng-click="getHeight(totalartconts);">
                                          <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                          <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                              <div class="image-holders fixit">
                                                  <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                              </div>
                                          </a>
                                          <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <div class="hover-look">
                                              <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                              <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                          </div>
                                      </div>
                                      <div class="artist-cont-detail">
                                          <p class="ng-binding">
                                              <!-- {{totalartconts.artwork.srno}} -->
                                              Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                              <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                              <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                          </p>
                                          <p class="m0">
                                              Sculptures
                                          </p>
                                          <p class="m0">
                                              canavas
                                          </p>
                                          <p class="m0">
                                              18 x 12 inches
                                          </p>
                                          <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                          <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                          <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-20 ng-scope">
                                  <div class="aristimg-grp1 mb20">
                                      <div class="relative" ng-click="getHeight(totalartconts);">
                                          <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                          <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                              <div class="image-holders fixit">
                                                  <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                              </div>
                                          </a>
                                          <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <div class="hover-look">
                                              <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                              <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                          </div>
                                      </div>
                                      <div class="artist-cont-detail">
                                          <p class="ng-binding">
                                              <!-- {{totalartconts.artwork.srno}} -->
                                              Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                              <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                              <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                          </p>
                                          <p class="m0">
                                              Sculptures
                                          </p>
                                          <p class="m0">
                                              canavas
                                          </p>
                                          <p class="m0">
                                              18 x 12 inches
                                          </p>
                                          <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                          <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                          <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-20 ng-scope">
                                  <div class="aristimg-grp1 mb20">
                                      <div class="relative" ng-click="getHeight(totalartconts);">
                                          <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                          <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                              <div class="image-holders fixit">
                                                  <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                              </div>
                                          </a>
                                          <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                          <div class="hover-look">
                                              <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                              <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                          </div>
                                      </div>
                                      <div class="artist-cont-detail">
                                          <p class="ng-binding">
                                              <!-- {{totalartconts.artwork.srno}} -->
                                              Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                              <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                              <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                              <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                          </p>
                                          <p class="m0">
                                              Sculptures
                                          </p>
                                          <p class="m0">
                                              canavas
                                          </p>
                                          <p class="m0">
                                              18 x 12 inches
                                          </p>
                                          <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                          <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                          <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'viewprojects'">
                <div class="active-project comission-project">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-head">
                                        <h4>
                                            Active Projects</h4>
                                    </div>
                                </div>
                                <div class="col-xs-20 ng-scope">
                                    <div class="aristimg-grp1 mb20">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p class="ng-binding">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>
                                            <!-- <p class="m0">
                                                22 / 06 / 2016
                                            </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-20 ng-scope">
                                    <div class="aristimg-grp1 mb20">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p class="ng-binding">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>
                                            <!-- <p class="m0">
                                                22 / 06 / 2016
                                            </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-20 ng-scope">
                                    <div class="aristimg-grp1 mb20">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p class="ng-binding">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>
                                            <!-- <p class="m0">
                                                22 / 06 / 2016
                                            </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-head">
                                    <h4>
                                        Closed Projects</h4>
                                </div>
                            </div>
                            <div class="col-xs-20 ng-scope">
                                <div class="aristimg-grp1 mb20">
                                    <div class="relative" ng-click="getHeight(totalartconts);">
                                        <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                        <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                            <div class="image-holders fixit">
                                                <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                            </div>
                                        </a>
                                        <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <div class="hover-look">
                                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                        </div>
                                    </div>
                                    <div class="artist-cont-detail">
                                        <p class="ng-binding">
                                            <!-- {{totalartconts.artwork.srno}} -->
                                            <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                            <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                        </p>
                                        <p class="m0">
                                            Sculptures
                                        </p>
                                        <p class="m0">
                                            canavas
                                        </p>
                                        <p class="m0">
                                            18 x 12 inches
                                        </p>
                                        <p class="m0">
                                            22 / 06 / 2016
                                        </p>
                                        <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                        <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-20 ng-scope">
                                <div class="aristimg-grp1 mb20">
                                    <div class="relative" ng-click="getHeight(totalartconts);">
                                        <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                        <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                            <div class="image-holders fixit">
                                                <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                            </div>
                                        </a>
                                        <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <div class="hover-look">
                                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                        </div>
                                    </div>
                                    <div class="artist-cont-detail">
                                        <p class="ng-binding">
                                            <!-- {{totalartconts.artwork.srno}} -->
                                            <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                            <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                        </p>
                                        <p class="m0">
                                            Sculptures
                                        </p>
                                        <p class="m0">
                                            canavas
                                        </p>
                                        <p class="m0">
                                            18 x 12 inches
                                        </p>
                                        <p class="m0">
                                            22 / 06 / 2016
                                        </p>
                                        <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                        <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-20 ng-scope">
                                <div class="aristimg-grp1 mb20">
                                    <div class="relative" ng-click="getHeight(totalartconts);">
                                        <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                        <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" class="ng-scope" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                            <div class="image-holders fixit">
                                                <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                            </div>
                                        </a>
                                        <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                        <div class="hover-look">
                                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                        </div>
                                    </div>
                                    <div class="artist-cont-detail">
                                        <p class="ng-binding">
                                            <!-- {{totalartconts.artwork.srno}} -->
                                            <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                            <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                            <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                        </p>
                                        <p class="m0">
                                            Sculptures
                                        </p>
                                        <p class="m0">
                                            canavas
                                        </p>
                                        <p class="m0">
                                            18 x 12 inches
                                        </p>
                                        <p class="m0">
                                            22 / 06 / 2016
                                        </p>
                                        <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                        <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-show="showLoginErr">
        <h4 class="">Please login to view your projects</h4>
    </div>
</div>
</div>
