<div class="artist">
    <div class="border-top"></div>
    <div class="container" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">
        <div class="row" ng-controller="filterctrl" style="position:relative;">
            <div class="painting">
                <div class="col-md-12">
                    <h4 class="head-team">Commissioned Sculptures</h4>
                </div>
                <!--<div class="col-md-5">
                    <ul class="artist-crisp pad-less">
                        <li class="" ng-click="makeactive(type.name);" ng-repeat="type in typejson">
                            <a href="" class="{{type.class}}">{{type.name}}
                            <hr class="hover-see">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 full-mega">
                    <div class="text-uppercase filter-padding" ng-click="showfilter(0)" ng-mouseleave="hidefilter(0)">
                        <i class="fa fa-filter"></i> Filter by Artist / Price / Size / Medium
                        <div class="megamenu" ng-include src="filterval[0]" ng-show="filters[0]">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="sort-by" ng-click="showfilter(1)" ng-mouseleave="hidefilter(1)">
                        <i class="fa fa-sort-amount-asc"></i> Sort By
                        <div class="megamenu" ng-include src="filterval[1]" ng-show="filters[1]">
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-20">
                <div class="aristimg-grp1">
                    <div class="relative" ng-click="getHeight(totalartconts);">
                        <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                        <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                        <div class="image-holders fixit">
                            <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                        </div>
                        <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                        <!--<div class="hover-look">
                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                        </div>-->
                    </div>
                    <div class="artist-cont-detail">
                        <p class="ng-binding">
                            <!-- {{totalartconts.artwork.srno}} -->
                            Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                        </p>
                        <p class="m0">
                            Sculptures
                        </p>
                        <p class="m0">
                            canavas
                        </p>
                        <p class="m0">
                            18 x 12 inches
                        </p>
                        <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                        <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                        <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                    </div>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
</div>