<div class="border-top"></div>
<div class="info min-cont">
    <div class="container">
        <div class="row" ng-hide="showLoginErr">
            <div class="myaccnthead col-md-12">
                <h4>Commissioned Sculpture</h4>
            </div>
            <div class="col-md-2" ng-init="activeIndex=null;">
                <div class="info-cont">
                    <ul class="info-li">
                        <li class="cat-list bold">{{userData.name || "-"}}</li>
                        <li class="cat-list cpointer bold" ng-click="changeTab('projects');" ng-class="{'bolds': activeTab == 'projects'}">Projects -
                            <a href="" class="uppercase addnew">+new</a>
                        </li>
                        <li class="cat-list sub-catpointers" ng-click="activeIndex=$index;getChats(ticket);" ng-class="{'bolds': activeTab == 'projectschat' && activeIndex == $index}"
                            ng-repeat="ticket in tickets">
                            {{ticket.title}} ({{ticket.status}})</li>
                        <li class="cat-list cpointer bold" ng-click="changeTab('viewprojects')" ng-class="{'bolds': activeTab == 'viewprojects'}">
                            View All Projects</li>

                        <!--<li class="cat-list bold">{{userData.name || "-"}}</li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'projects'}" ng-click="changeTab('projects');">Projects
                            <a href="" class="uppercase addnew">+new</a>
                        </li>
                        <li class="cat-list sub-catpointers" ng-class="{'bolds' : activeTab == 'projectschat' && activeIndex == $index}" ng-click="activeIndex=$index;getChats(ticket);"
                            ng-repeat="ticket in tickets" ng-if="!(ticket.status=='Closing')">{{ticket.title}} ({{ticket.status}})</li>
                        <li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'viewprojects'}" ng-click="changeTab('viewprojects');">View All Projects
                        </li>-->
                        <!--<li class="cat-list cpointer bold" ng-class="{'bolds' : activeTab == 'viewprojectsfavourite'}" ng-click="changeTab('viewprojectsfavourite');">Favourite</li>-->
                    </ul>
                </div>
            </div>
            <!--<div class="col-md-10" ng-if="activeTab == 'profile'">
                <div class="chngpswd-cont">
                    <div class="form-group">
                        <form ng-submit="saveUser();">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-id">
                                        <input class="form-control" ng-model="userData.name" placeholder="Name*" required type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-id">
                                        <input class="form-control" ng-model="userData.email" placeholder="Email ID*" required type="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-id">
                                        <ui-select tagging tagging-label="('new')" ng-model="userData.reference" theme="bootstrap" title="Choose Reference">
                                            <ui-select-match placeholder="Select User Profile">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="userprofile in userprofiles | filter: $select.search">
                                                <div ng-bind-html="userprofile | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-id">
                                        <input class="form-control" ng-model="userData.mob" placeholder="Contact Number*" required type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-id userprofile-com1">
                                        <div class="text-make">
                                            <textarea name="" ng-model="userData.address" placeholder="Address" class="form-control" id="" cols="30"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center super-margin">
                                <button class="btn btn-primarys uppercase" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>-->
            <div class="col-md-10" ng-if="activeTab == 'projects'">
                <div class="row">
                    <div class=" col-md-offset-1 col-md-10">
                        <div class="profile-img left"></div>
                        <div class="chngpswd-cont userprofile-chat userprofile-com">
                            <div class="form-group">
                                <form ng-submit="createTicket();">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.title" placeholder="Project Title*" required type="text">
                                            </div>
                                            <div class="input-id userprofile-com">
                                                <textarea class="form-control" name="" ng-model="ticket.brief" placeholder="Project Brief*" required id="" cols="30"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-id">
                                                <ui-select multiple tagging tagging-label="false " ng-model="ticket.medium " ng-change="ismatchmed(ticket.medium,$select);">
                                                    <ui-select-match placeholder="Preferred Material to be Used">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="person in medium track by person._id" refresh="refreshMedium($select.search,$select.selected) "
                                                        refresh-delay="0 ">
                                                        <div ng-bind-html="person.name "></div>
                                                    </ui-select-choices>
                                                </ui-select>


                                                <!--<ui-select tagging tagging-label="false" multiple ng-model="ticket.material" ng-change="ismatchmed(ticket.material,$select);">
                                       <ui-select-match placeholder="Select Medium">{{$item.name}}</ui-select-match>
                                       <ui-select-choices repeat="person in medium track by person._id" refresh="refreshMedium($select.search,$select.selected)" refresh-delay="0">
                                          <div ng-bind-html="person.name"></div>
                                       </ui-select-choices>
                                    </ui-select>-->





                                                <!--<ui-select multiple ng-model="ticket.material" tagging tagging-label="false">
                                                    <ui-select-match placeholder="Preferred Material to be Used">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices refresh-delay="0" refresh="refreshMedium($select.search,$select.selected)" repeat="person in medium track by person._id">
                                                        <div ng-bind-html="person.name"></div>
                                                    </ui-select-choices>
                                                </ui-select>-->
                                            </div>
                                            <div class="form-inline size-input">
                                                <div class="input-id">
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.height" placeholder="Height" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.width" placeholder="Width" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.depth" placeholder="Depth" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" ng-model="ticket.major" id="sel1">
                                                            <option>mm</option>
                                                            <option>cm</option>
                                                            <option>meter</option>
                                                            <option>inches</option>
                                                            <option>feet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-inline size-input">
                                                <div class="input-id">
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.startPrice" placeholder="Start Price" type="text">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        to
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" ng-model="ticket.endPrice" placeholder="End Price" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" ng-model="ticket.currency" id="sel1">
                                                            <option selected>Rs</option>
                                                            <option>USD</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.additionalInfo" placeholder="Any additional information" type="text">
                                            </div>
                                            <div class="input-id">
                                                <input class="form-control" ng-model="ticket.leadTime" placeholder="Lead Time" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-make">
                                                <textarea name="" placeholder="Delivery Location" ng-model="ticket.deliveryLocation" class="form-control" id=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-id">
                                                <div class="form-group" style="margin-bottom:0;">
                                                    <label>Reference
                                                  </label>
                                                    <div class="form-group" style="margin-bottom:0;">

                                                        <span>(Multiple Upload)</span>

                                                        <div class="scroll-x">
                                                            <div class="img-box">
                                                                <div class="many-img" ng-repeat="bill in ticket.image" ng-init="isPdf=(bill|imgPdf)">
                                                                    <div ng-if="artwork.image.length!=0">
                                                                        <div ng-if="!isPdf">
                                                                            <img ng-src="{{bill | uploadpath}}" width="65">
                                                                            <button class="btn btn-danger close-btn" ng-click="removeimage(artwork.image.indexOf(bill));" type="button">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                                        </div>
                                                                        <div ng-if="isPdf">
                                                                            <a href="{{bill | uploadpath}}" target="_blank" class="btn btn-default inline">
                                                                    View Pdf {{$index + 1}} 
                                                                </a>
                                                                            <button class="btn btn-danger close-btn" ng-click="removeimage(artwork.image.indexOf(bill));" type="button">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upload-div col-md-6">
                                                            <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                                            <div class="file-upload btn btn-primary" ng-hide="uploading">
                                                                <span>Upload Image</span>
                                                                <input class="btn-upload" type='file' name='file' ng-file-select='onFileSelect($files,1)' onclick='this.value=null'>
                                                            </div>
                                                            <!--<div ng-if="artwork.image.length!=0"></div>-->
                                                            <span class="font-color3" ng-if="uploadStatus=='uploading'"> Uploading ...</span>
                                                            <span class="font-color4" ng-if="uploadStatus=='uploaded'"> Uploaded</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center super-margin">
                                        <button class="btn btn-primarys uppercase" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-8" ng-if="activeTab == 'projectschat'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ticket pb20">
                            <!--<label for="">
                                Ticket Number</label> -->
                            <label class="pull-right"> {{ticketDetail.ticketnumber}}</label>
                            <h5>Client</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box-bord pad10">

                        <!--<pre>{{ticketDetail}}</pre>-->
                        <div class="chat-content scroll-y" id="chatDiv">
                            <div class="row">
                                <div class=" col-md-offset-1 col-md-10">
                                    <div class="profile-img {{upSideClass}} bg-green">
                                        <h5 class="bold text-center">C</h5>
                                    </div>
                                    <div class="{{upClass}}">
                                        <div class="chat-cont">
                                            <div class="user-made">
                                                <h5 class="title font-color2 bold" style="margin:0">{{ticketDetail.title}}</h5>
                                                <p style="margin:0">
                                                    {{ticketDetail.brief}}
                                                </p>
                                            </div>
                                            <div class="made-madein">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">References</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="img-inline-box" ng-repeat="img in ticketDetail.image">
                                                            <img ng-src="{{img | uploadpath}}" alt="">
                                                        </div>
                                                        <div class="img-inline-box" ng-if="ticketDetail.image==''">
                                                            <span>No References.</span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Material</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont" style="margin:10px 0 0;">
                                                            <p ng-repeat="material in ticketDetail.medium" style="margin:0;">{{material.name}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2">Specific Size</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont" style="margin:10px 0 0;">
                                                            <p style="margin:0;">{{ticketDetail.height}} x {{ticketDetail.width}} x {{ticketDetail.depth}}
                                                                {{ticketDetail.major}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2" style="margin:0;">Budget</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont" style="margin:0px 0 0;">
                                                            <p style="margin:0;"> From {{ticketDetail.currency}}. {{ticketDetail.startPrice}} To
                                                                {{ticketDetail.currency}}. {{ticketDetail.endPrice}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2" style="margin:0;">Additional Info</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont" style="margin:0px 0 0;">
                                                            <p style="margin:0;">
                                                                {{ticketDetail.additionalInfo}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h5 class="title font-color2" style="margin:0;">Lead Time</h5>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="material-cont" style="margin:0;">
                                                            <p style="margin:0;">{{ticketDetail.leadTime}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-date text-right">
                                                <p style="margin:0;">
                                                    <span>{{ticketDetail.client[0].name}}</span>,
                                                    <span>{{ticketDetail.timestamp | date:'MMM d, y h:mm a'}}</span>
                                                </p>
                                                <p><span>{{ticketDetail.designation}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="chat in chatsArr">
                                    <div class=" col-md-offset-1 col-md-10" ng-if="chat.status!=5">
                                        <div class="profile-img {{chat.upSideClass}} bg-brown">
                                            <h5 class="bold text-center">{{chat.character}}</h5>
                                        </div>
                                        <div class="{{chat.upClass}}">
                                            <div class="user-response">
                                                <p style="margin:0">
                                                    {{chat.message}}
                                                </p>
                                                <!--<pre>{{chat}}</pre>-->
                                                <div ng-repeat="img in chat.image" ng-init="isPdf=(img|imgPdf)" class="img-inline-box inline">
                                                    <div class="inline" ng-if="!isPdf">
                                                        <img ng-src="{{img | uploadpath}}" alt="">
                                                    </div>
                                                    <a href="{{img | uploadpath}}" target="_blank" ng-if="isPdf" class="btn btn-default inline">
                                                        View Pdf {{$index + 1}}
                                                    </a>
                                                </div>

                                                <div class="time-date text-right">
                                                    <p>
                                                        <span>{{chat.name}}</span>,
                                                        <span>{{chat.timestamp | date:'MMM d, y h:mm a'}}</span>
                                                    </p>
                                                    <p><span>{{chat.designation}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-if="chat.status==5">
                                        <div class="dotted-milestone">
                                            <hr class="line-green">
                                            <div class="wait-conform">
                                                {{chat.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fixed-chat">
                            <div class="row">
                                <form ng-submit="saveTicketElement();">
                                    <div class="col-md-8">
                                        <!--<pre>{{tickets[1].status}}</pre> -->
                                        <div class="box-right pad0" style="padding: 1px 10px;">

                                            <textarea name="" id="" placeholder="Please enter your text here" class="form-control" ng-model="chat.message" required></textarea>
                                        </div>
                                        <div class="box-desgnation pad0">
                                            <input type="text" placeholder="Please enter your Name and Designation" ng-model="chat.designation" uib-typeahead="desig for desig in desigs | filter:$viewValue | limitTo:8"
                                                class="form-control">
                                        </div>
                                        <div class="box-desgnation pad0">
                                            <div class="scroll-x">
                                                <div class="img-box">
                                                    <div class="many-img" ng-repeat="bill in chatimages" ng-init="isPdf=(bill|imgPdf)">
                                                        <div ng-if="chatimages.length!=0">
                                                            <div ng-if="!isPdf">
                                                                <img ng-src="{{bill | uploadpath}}" width="65">
                                                                <button class="btn btn-danger close-btn" ng-click="removeimage(chatimages.indexOf(bill));" type="button">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                            </div>
                                                            <div ng-if="isPdf">
                                                                <a href="{{bill | uploadpath}}" target="_blank" class="btn btn-default inline">
                                                                    View Pdf {{$index + 1}}
                                                                </a>
                                                                <button class="btn btn-danger close-btn" ng-click="removeimage(chatimages.indexOf(bill));" type="button">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-button text-center">
                                            <button class="btn btn-primary all-btn">
                                                Enter
                                            </button>
                                            <a class="btn btn-primary all-btn" ng-click="refreshElement()">
                                                Refresh
                                            </a>
                                            <div class="upload-div">
                                                <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                                <div class="file-upload btn btn-primary" ng-hide="uploading">
                                                    <span>Upload Image</span>
                                                    <input class="btn-upload" type='file' name='file' ng-file-select='onFileSelect($files,2)' onclick='this.value=null'>
                                                </div>
                                                <span class="font-color3" ng-if="uploadStatus=='uploading'"> Uploading ...</span>
                                                <span class="font-color4" ng-if="uploadStatus=='uploaded'"> Uploaded</span>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'viewprojectsfavourite'">
                <div class="active-project comission-project">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-head">
                                        <h4>
                                            Active Projects
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-xs-20 ">
                                    <div class="aristimg-grp1 mb10">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p style="margin:0">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <!--<p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>-->
                                            <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-20 ">
                                    <div class="aristimg-grp1 mb10">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p style="margin:0">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <!--<p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>-->
                                            <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-20 ">
                                    <div class="aristimg-grp1 mb10">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <!-- ngIf: totalartconts.artwork.type=='Sculptures' -->
                                            <!-- ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <a ui-sref="detail({artid:totalartconts.artwork._id})" ng-if="totalartconts.artwork.type!='Sculptures'" href="#/artwork/detail/569ccb38c59450ed6bdc8d00">
                                                <div class="image-holders fixit">
                                                    <img class="fix-img doneLoading" ng-src="img/artist/sculpture4.jpg" src="http://www.auraart.in/user/resize?height=190&amp;file=2004.jpg">
                                                </div>
                                            </a>
                                            <!-- end ngIf: totalartconts.artwork.type!='Sculptures' -->
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p style="margin:0">
                                                <!-- {{totalartconts.artwork.srno}} -->
                                                Project1 <i class="fa fa-heart font-color3" ng-click="makeFav(totalartconts);"></i>
                                                <!-- ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                                <!-- end ngIf: totalartconts.artwork.status!='sold' && totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' -->
                                                <!-- ngIf: totalartconts.artwork.status=='sold' -->
                                            </p>
                                            <p class="m0">
                                                Sculptures
                                            </p>
                                            <p class="m0">
                                                canavas
                                            </p>
                                            <p class="m0">
                                                18 x 12 inches
                                            </p>
                                            <!-- <p class="m0">
                                              22 / 06 / 2016
                                          </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10" ng-if="activeTab == 'viewprojects'">
                <!--Schoping Projects-->
                <div class="active-project comission-project">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-head">
                                        <h4>
                                            Scoping Projects</h4>
                                    </div>
                                </div>
                                <div class="col-xs-20 " ng-if="scopingTickets==''">
                                    <span>No Scoping Project.</span>
                                </div>
                                <div class="col-xs-20 " ng-repeat="ticket in scopingTickets">
                                    <div class="aristimg-grp1 mb10 pointer" ng-click="activeIndex=$index;getChats(ticket);">
                                        <div class="relative" ng-click="getHeight(totalartconts);">
                                            <div class="image-holders fixit">
                                                <img class="fix-img doneLoading" ng-src="{{ticket.image[0]|uploadpath}}">
                                            </div>
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p style="margin:0">
                                                {{ticket.title}}
                                                <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.mediumfinal}}
                                            </p>
                                            <p ng-if="(ticket.heightfinal.length>0)||(ticket.widthfinal.length>0)||(ticket.depthfinal.length>0)" style="margin:0">
                                                {{ticket.heightfinal}} x {{ticket.widthfinal}} x {{ticket.depthfinal}} {{ticket.majorfinal}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.startPricefinal}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.deadline}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.location}}
                                            </p>
                                            <!--<p class="m0">
                                                Sculptures
                                            </p>-->
                                            <!--<p class="m0">
                                                <span ng-repeat="mtrl in ticket.material track by $index">{{mtrl.name}}<span ng-if="$index < ticket.material.length-1">,</span>                                                </span>
                                            </p>
                                            <p class="m0">
                                                {{ticket.height}} x {{ticket.width}} x {{ticket.depth}} {{ticket.major}}
                                            </p>-->
                                            <!-- <p class="m0">
                                                22 / 06 / 2016
                                            </p> -->
                                            <!-- end ngIf: totalartconts.artwork.gprice && totalartconts.artwork.gprice!='N/A' && totalartconts.artwork.status!='sold' -->
                                            <!-- ngIf: !totalartconts.artwork.gprice || totalartconts.artwork.gprice=='N/A' -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Active Projects-->
                <div class="active-project comission-project">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-head">
                                        <h4>
                                            Active Projects</h4>
                                    </div>
                                </div>
                                <div class="col-xs-20 " ng-if="activeTickets==''">
                                    <span>No Active Project.</span>
                                </div>
                                <div class="col-xs-20" ng-repeat="ticket in activeTickets">
                                    <div class="aristimg-grp1 mb10 pointer" ng-click="activeIndex=$index;getChats(ticket);">
                                        <div class="relative" ng-click="getHeight(totalartconts);">

                                            <div class="image-holders fixit">
                                                <img class="fix-img doneLoading" ng-src="{{ticket.image[0]|uploadpath}}">
                                            </div>
                                            <div class="hover-look">
                                                <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                                <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                            </div>
                                        </div>
                                        <div class="artist-cont-detail">
                                            <p style="margin:0">
                                                {{ticket.title}}
                                                <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.mediumfinal}}
                                            </p>
                                            <p ng-if="(ticket.heightfinal.length>0)||(ticket.widthfinal.length>0)||(ticket.depthfinal.length>0)" style="margin:0">
                                                {{ticket.heightfinal}} x {{ticket.widthfinal}} x {{ticket.depthfinal}} {{ticket.majorfinal}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.startPricefinal}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.deadline}}
                                            </p>
                                            <p style="margin:0">
                                                {{ticket.location}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Closed Projects-->
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-head">
                                    <h4>
                                        Closed Projects</h4>
                                </div>
                            </div>
                            <div class="col-xs-20" ng-if="closedTickets==''">
                                <span>No Closed Project.</span>
                            </div>
                            <div class="col-xs-20 pointer" ng-repeat="ticket in closedTickets" ng-click="activeIndex=$index;getChats(ticket);">
                                <div class="aristimg-grp1 mb10">
                                    <div class="relative" ng-click="getHeight(totalartconts);">

                                        <div class="image-holders fixit">
                                            <img class="fix-img doneLoading" ng-src="{{ticket.image[0]|uploadpath}}">
                                        </div>
                                        <div class="hover-look">
                                            <button type="submit" class="btn btn-sucesses button-small text-center" ng-click="showDetails(totalartconts);">Quick View</button>
                                            <a type="submit" class="btn btn-sucesses button-small text-center" ng-click="goToDetailPage(totalartconts.artwork);">Details</a>
                                        </div>
                                    </div>
                                    <div class="artist-cont-detail">
                                        <p style="margin:0">
                                            {{ticket.title}}
                                            <i class="fa fa-shopping-cart " ng-click="addToCart(totalartconts);" ng-if="totalartconts.artwork.status!='sold' &amp;&amp; totalartconts.artwork.gprice &amp;&amp; totalartconts.artwork.gprice!='N/A'"></i>
                                        </p>
                                        <p style="margin:0">
                                            {{ticket.mediumfinal}}
                                        </p>
                                        <p ng-if="(ticket.heightfinal.length>0)||(ticket.widthfinal.length>0)||(ticket.depthfinal.length>0)" style="margin:0">
                                            {{ticket.heightfinal}} x {{ticket.widthfinal}} x {{ticket.depthfinal}} {{ticket.majorfinal}}
                                        </p>
                                        <p style="margin:0">
                                            {{ticket.startPricefinal}}
                                        </p>
                                        <p style="margin:0">
                                            {{ticket.deadline}}
                                        </p>
                                        <p style="margin:0">
                                            {{ticket.location}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-show="showLoginErr">
        <h4 style="margin-top:20%;">Please login to start/view your projects</h4>
    </div>
</div>
</div>