<div class="border-top"></div>
<div class="info min-cont">
    <div class="container">
        <div class="row">
            <div class="myaccnthead col-md-12">
                <h4>Commissioned Sculptures
                    <!-- <span class="pull-right regular-link" ng-if="user.accesslevel!='reseller'" ng-click="becomeSeller()">
            <i class="fa fa-upload"></i> Upload Artwork for sale
          </span> -->
                </h4>
                <div class="cont-com-sculp text-justify">
                    <p>
                        Aura Art eConnect Pvt Ltd is increasing its focus on Commissioned Sculptures, to meet the needs of collectors, corporates,
                        realty developers, architects and interior designers. We believe that this initiative will go a long
                        way in expanding the Sculpture category, by making works available to clients that match their aesthetic,
                        size, medium and other requirements. Have provided below images of select commissioned projects already
                        executed by Aura Art, in diverse subjects and mediums, at illustrious locations. </p>

                    <p>We are confident that you will find this platform, which is India's First Online Platform for Commissioned
                        Sculptures, extremely useful in managing the entire life cycle of a commissioning project. Look forward
                        to working with you on any commissioning requirement.
                    </p>
                </div>
            </div>
        </div>
        <div class="undertaken-aura-art">
            <div class="mb20">
                <button class="btn btn-primarys uppercase ml-20 pull-right" ui-sref="commission-projects">Start Your Project</button>
                <h5 class="title bold">Projects undertaken by Aura Art </h5>
            </div>
            <!--<div class="pul">
                <button class="btn btn-primarys uppercase" ui-sref="commission-projects">Start Your Project</button>
            </div>-->
            <div class="artist comission-project">
                <div class="row">
                    <div class="col-xs-20" ng-repeat="artwork in sculpture">
                        <!--<pre>{{artwork|json}}</pre>-->
                        <div class="aristimg-grp1 mb20">
                            <div class="relative">
                                <a ui-sref="detail({artid:artwork._id})">
                                    <div class="image-holders fixit">
                                        <img class="fix-img doneLoading" ng-src="{{artwork.image[0]|uploadpath}}">
                                    </div>
                                </a>
                                <!--<div class="hover-look">
                                    <button type="submit" class="btn btn-sucesses button-small text-center">Quick View</button>
                                    <a type="submit" class="btn btn-sucesses button-small text-center">Details</a>
                                </div>-->
                            </div>
                            <div class="artist-cont-detail com-h">

                                <p class="ng-binding">
                                    {{artwork.srno}}<i class="{{totalartconts.heartClass = (totalartconts.artwork._id | showheart)}}"
                                        ng-click="makeFav(artwork);"></i>
                                    <i class="fa fa-shopping-cart ng-scope" ng-click="addToCart(artwork);" ng-if="artwork.status!='sold' &amp;&amp; artwork.gprice &amp;&amp; artwork.gprice!='N/A'"></i>
                                </p>
                                <p> {{artwork.name}}</p>
                                <p> {{artwork.subtype[0].name}} </p>
                                <p class="m0">{{artwork.height}} x {{artwork.width}} <span ng-if="artwork.breadth">x {{artwork.breadth}}</span>
                                    <span ng-if="artwork.depth">x {{artwork.depth}}</span><span ng-if="artwork.major"> {{artwork.major}}</span>
                                    <span ng-if="!artwork.major">inches</span>
                                </p>
                                <!--<p>Rs {{artwork.gprice|inlakhs}} / ${{artwork.gprice|indollars}}</p>-->
                                <!--<p class="m0">
                                    {{artwork.type}}
                                </p>-->
                                <!--<p class="m0">
                                    canavas
                                </p>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
