<div class="border-top"></div>
<div class="container ">
    <div class="eventpad">
        <div class="row">
            <div class="eventdetail">
                <a class="font-color3 pull-right event-invite" ui-sref="invite({img:eventDetail.invitation})" ng-if="eventDetail.invitation">invite</a>
                <a class="font-color3 pull-right event-invite" href="{{eventDetail.catalogue}}" rel="catalogue" ng-if="eventDetail.catalogue" target="_blank">
                Catalogue
                </a>
                <a class="font-color3 pull-right event-invite" href="{{eventDetail.ecatalogue}}" rel="ecatalogue" ng-if="eventDetail.ecatalogue" target="_blank">
                    <span style="text-transform: lowercase;">e</span>Catalogue
                </a>
                <!-- <a class="font-color3 pull-right event-invite" ui-sref="invite({img:eventDetail.invitation})">Catalogue</a> -->
                <h3 class="font-color3 home-header">{{eventDetail.name}}</h3>
                <p>
                    <span>Event Venue</span> : {{eventDetail.venue}}</p>
                <p>
                    <span>Period of show </span> : {{eventDetail.startdate|date:'EEEE, MMMM d, y'}} - {{eventDetail.enddate|date:'EEEE, MMMM d, y'}}</p>
                <p ng-if="eventDetail.starttime!='undefined:undefined undefined' && eventDetail.endtime!='undefined:undefined undefined'">
                    <span>Event Time</span> : {{eventDetail.starttime}} to {{eventDetail.endtime}}</p>
            </div>
        </div>
        <div class="row">
            <div class=" details" ng-if="eventDetail.details">
                <span>Details :</span>
                <p class="intwo" ng-bind-html="eventDetail.details"></p </div>
            </div>
            <div class="row-flex event-descp">
                <div class="col-flex" ng-if="eventDetail.desc1">
                    <div class="pad10">
                        <p class="text-justify" ng-bind-html="eventDetail.desc1 | rawHtml"></p>
                    </div>
                </div>
                <div class="col-flex" ng-if="eventDetail.desc2">
                    <div class="pad10">
                        <p class="text-justify" ng-bind-html="eventDetail.desc2 | rawHtml"></p>
                    </div>
                </div>
                <div class="col-flex" ng-if="eventDetail.desc3">
                    <div class="pad10">
                        <p class="text-justify" ng-bind-html="eventDetail.desc3 | rawHtml"></p>
                    </div>
                </div>
                <div class="col-flex" ng-if="eventDetail.desc4">
                    <div class="pad10">
                        <p class="text-justify" ng-bind-html="eventDetail.desc4 | rawHtml"></p>
                    </div>
                </div>
                <div class="col-flex" ng-if="eventDetail.desc5">
                    <div class="pad10">
                        <p class="text-justify" ng-bind-html="eventDetail.desc5 | rawHtml"></p>
                    </div>
                </div>
            </div>
            <h5 class="home-header font-color3" ng-if="eventDetail.photos && eventDetail.photos.length>0">PHOTOS</h5>
            <div class="row">
                <div class="eventgallery">
                    <div class="col-md-3" ng-repeat="gal in eventDetail.photos">
                        <a class="event-pic" fancybox-box ng-href="{{gal|uploadpath}}" rel="events">
                            <img class="fix-img" ng-src="{{gal|uploadthumbnail}}">
                        </a>
                    </div>
                </div>
            </div>
            <h5 class="home-header font-color3" ng-if="eventDetail.videos && eventDetail.videos.length>0">VIDEOS</h5>
            <div class="row">
                <div class="eventgallery">
                    <div class="col-md-3" ng-repeat="gal in eventDetail.videos">
                        <a class="event-pic" fancybox-box ng-href="http://www.youtube.com/embed/{{gal}}?autoplay=1" rel="events">
                            <img class="fix-img" ng-src="http://img.youtube.com/vi/{{gal}}/mqdefault.jpg">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <h5 class="home-header font-color3" ng-if="eventDetail.pressphoto && eventDetail.pressphoto.length>0">PRESS</h5>
            <div class="row">
                <div class="eventgallery">
                    <div class="col-md-3" ng-repeat="gal in eventDetail.pressphoto">
                        <a class="event-pic" fancybox-box ng-href="{{gal.photos | uploadpath}}" rel="events">
                            <img class="fix-img" ng-src="{{gal.photos | uploadthumbnail}}">
                        </a>
                    </div>
                </div>
            </div>
            <h5 class="home-header font-color3" ng-if="eventDetail.feed && eventDetail.feed.length>0">PRESS</h5>
            <div class="row">
                <div class="eventgallery" ng-bind-html="eventDetail.feed"></div>
            </div>
        </div>
    </div>
