<div class="container popup-all">
    <div class="popup-dialogbox">
        <div class="holder1">
            <!--            <div class="ngdialog-close close"></div>-->
            <div class="row">
                <div class="col-md-7">
                    <div class="signin">
                        <h3 class="createtitle">Login</h3>
                        <div class="signinor">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" placeholder="Enter your email *" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-gold">Forgot Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
