<div class="border-top"></div>
<div class="container ">
    <div class="media">
        <h3 class="font-color3 home-header">Press</h3>
    </div>
    <div class="row media">
        <div class="all-events search-box media mediacov" ng-repeat="year in pressYear | orderBy:'year':true">
            <p class="head">Media Coverage {{year}}</p>
            <div class="row">
                <div class="col-md-3" ng-repeat="media in press[year]">
                    <div class="event-detail media-detail">
                        <div class="data">
                            <h6 class="font-color2">{{media.title}}</h6>
                            <p>{{media.date|date}}</p>
                        </div>
                        <div class="media-img text-center">
                            <figure>
                                <a fancybox-box href="{{media.photos|uploadpath}}" rel="press" title="{{media.title}} {{media.date|date:'fullDate'}}">
                                    <img class="img-responsive" ng-src="{{media.photos|uploadpath}}">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
