<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="pad-top-btm">
            <h4 class="head-team">VIEW ARTWORK IN YOUR ROOM</h4>
            <div class="relative">

                <div class="scroller-area">
                    <div class="wall-builder">
                        <div class="height-holder" ng-style="{'background-color': uploadwall.color}">
                            <div class="dim dim-h light" ng-if="uploadwall.height && nowActive!=3 && nowActive!=4">
                                <div class="abs l-tb toped"><i class="fa fa-caret-up"></i></div>
                                <div class="abs l-tb bottomed"><i class="fa fa-caret-down"></i></div>
                                {{uploadwall.height | number:2}} feet
                            </div>
                            <div class="dim dim-w light" ng-if="uploadwall.width && nowActive!=3 && nowActive!=4">
                                <div class="abs t-rl righted"><i class="fa fa-caret-right"></i></div>
                                <div class="abs t-rl lefted"><i class="fa fa-caret-left"></i></div>
                                {{uploadwall.width | number:2}} feet
                            </div>

                            <div class="over-flowing">
                                <div class="wall-image" id="wall" ng-if="uploadwall.wallImage"></div>

                                <div class="painting-holder" id="draggable-element">
                                    <img ng-src="{{uploadwall.paintingImage|uploadpath}}" alt="Painting" height="{{uploadwall.paintingHeight}}" ng-if="uploadwall.paintingImage" id="paintingImg">
                                    <div class="inner-shadow" ng-if="nowActive==4"></div>
                                </div>

                                <div class="furniture-holder" id="draggable-furni">
                                    <div class="dim dim-h" ng-if="uploadwall.furnitureImage">
                                        <div class="abs blacke l-tb toped"><i class="fa fa-caret-up"></i></div>
                                        <div class="abs blacke l-tb bottomed"><i class="fa fa-caret-down"></i></div>
                                        {{uploadwall.fheight}} feet
                                    </div>
                                    <div class="dim dim-w" ng-if="uploadwall.furnitureImage">
                                        <div class="abs blacke t-rl righted"><i class="fa fa-caret-right"></i></div>
                                        <div class="abs blacke t-rl lefted"><i class="fa fa-caret-left"></i></div>
                                        {{uploadwall.fwidth}} feet
                                    </div>
                                    <img ng-src="{{uploadwall.furnitureImage}}" alt="sofa" height="{{uploadwall.furnitureHeight}}" width="{{uploadwall.furnitureWidth}}" ng-if="uploadwall.furnitureImage">
                                </div>

                                <div class="grid-holder" ng-if="uploadwall.gridstatus">
                                    <div class="white-text">
                                        Grid size is 1 feet x 1 feet
                                        <!-- <div class="btn-line pull-right" ng-click="uploadwall.gridstatus=!uploadwall.gridstatus">Turn Off Grid</div> -->
                                    </div>
                                    <div class="horizontal-line" ng-repeat="i in getTimes(uploadwall.horizontalCount) track by $index" ng-style="{'margin-bottom' : uploadwall.pixels}"></div>
                                    <div class="vertical-holder">
                                        <div class="vertical-line" ng-repeat="i in getTimes(uploadwall.verticalCount) track by $index" ng-style="{'margin-left' : uploadwall.pixels}"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <wall-builder ng-model="uploadwall"></wall-builder> -->

                <div class="room-options" ng-if="artworkDetail">
                    <uib-accordion>
                        <uib-accordion-group>
                            <uib-accordion-heading>Artwork Detail
                                <i class="fa fa-chevron-down pull-right"></i>
                            </uib-accordion-heading>
                            <div class="painting-details">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>{{artworkDetail.artwork.yoc}}</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr class="font-color3">
                                            <td class="labels">Artist:</td>
                                            <td>
                                                {{artworkDetail.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="labels">Title:</td>
                                            <td>
                                                {{artworkDetail.artwork.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="labels">Medium:
                                            </td>
                                            <td>
                                                {{artworkDetail.artwork.subtype[0].name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="labels">Size:</td>
                                            <td>{{artworkDetail.artwork|makesizestr}}</td>
                                        </tr>
                                        <tr>
                                            <td class="labels">Year:</td>
                                            <td>2013</td>
                                        </tr>
                                        <tr>
                                            <td class="labels">Price:
                                            </td>
                                            <td>Rs {{artworkDetail.artwork.gprice|number:0}} / ${{artworkDetail.artwork.gprice|indollars}}
                                                <br> <span>(excluding VAT)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary btn-full fill-up" ng-click="addToCart(artworkDetail);">Add to Cart</button>
                            </div>
                        </uib-accordion-group>

                        <uib-accordion-group is-open="true" ng-click="changeAccordian(1);">
                            <uib-accordion-heading>Create your wall <span class="small">(OPTION 1)</span><i class="fa fa-chevron-down pull-right"></i>
                            </uib-accordion-heading>
                            <div class="part">
                                <div class="part-row">
                                    Wall Size:
                                    <div class="pull-right fs-small">
                                        <span class="mr-right">Height
                                          <input type="text" class="small-input" ng-model="uploadwall.height" ng-change="calcHeigthWidth();"> feet
                                        </span>
                                        <span>Width
                                          <input type="text" class="small-input" ng-model="uploadwall.width" disabled> feet
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="part-row">
                                    Wall Colour:
                                    <div class="pull-right">
                                        <span class="color-box" colorpicker-size="180" colorpicker-position="left" colorpicker ng-model="uploadwall.color" ng-style="{'background-color': uploadwall.color}"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="part">
                                <div class="part-row">
                                    <div class="pull-right">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="forfurniture" ng-model="uploadwall.furniturestatus" ng-change="onOrOffFurniture();">
                                            <label class="onoffswitch-label" for="forfurniture">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <h3>Select Furniture:</h3>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- <div class="part-row">
                                    Size:
                                    <div class="pull-right">
                                        <span class="mr-right">H
                                            <input type="text" class="small-input"> ft.
                                        </span>
                                        <span>W
                                            <input type="text" class="small-input"> ft.
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div> -->

                                <div class="part-row text-center" ng-show="uploadwall.furniturestatus">
                                    <div class="row">
                                        <div class="col-md-4" ng-repeat="furniture in furnitureJson" ng-click="changeFurniture(furniture);">
                                            <div class="furni-box" ng-class="{'selected' : furniture.image==uploadwall.furnitureImage}">
                                                <img ng-src="{{furniture.thumbnail}}" class="img-responsive">
                                            </div>
                                            <span class="furni-name">
                                                {{furniture.name}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>

                        <uib-accordion-group ng-click="changeAccordian(3);">
                            <uib-accordion-heading>Use wall templates <span class="small">(OPTION 2)</span><i class="fa fa-chevron-down pull-right"></i>
                            </uib-accordion-heading>
                            <div class="part">
                                <div class="part-row">
                                    Show Grid:
                                    <div class="pull-right">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="forgrid" ng-model="uploadwall.gridstatus">
                                            <label class="onoffswitch-label" for="forgrid">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="part-row">
                                    Zoom Image: (Turn grid off to move the template)
                                    <div class="full-width">
                                        <input type="range" min="50" max="150" ng-model="uploadwall.backZoom" ng-change="zoomBackground();">
                                    </div>
                                </div>
                                <div class="part-row">
                                    Select Templates:
                                    <div class="fix-row">
                                        <div class="col-hw75" ng-repeat="wall in wallTemplateJson" ng-style="{'background-image': 'url({{wall.image}})'}" ng-class="{'selected':wall.id==uploadwall.wallid}" ng-click="changeWallTemplate(wall);">

                                        </div>
                                        <!-- <div class="col-hw75" ng-style="{'background-image': 'url(img/templates/1.jpg)'}"></div>
                                        <div class="col-hw75" ng-style="{'background-image': 'url(img/templates/1.jpg)'}"></div> -->
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>

                        <uib-accordion-group ng-click="changeAccordian(2);">
                            <uib-accordion-heading>Upload your wall <span class="small">(OPTION 3)</span><i class="fa fa-chevron-down pull-right"></i>
                            </uib-accordion-heading>
                            <div class="part">
                                <div class="part-row">
                                    Wall Size:
                                    <div class="pull-right fs-small">
                                        <span class="mr-right">Height
                                            <input type="text" class="small-input" ng-model="uploadwall.height" ng-change="calcHeigthWidth();"> feet
                                        </span>
                                        <span>Width
                                            <input type="text" class="small-input" ng-model="uploadwall.width" disabled> feet
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="part-row" ng-init="httpMethod = 'POST';howToSend = 1;">
                                    <div class="file-upload btn btn-primary" ng-hide="uploading">
                                        <span>Upload Image</span>
                                        <input class="btn-upload" type='file' name='file' ng-file-select='onFileSelect($files,1)' onclick='this.value=null'>
                                    </div>
                                    <button class="btn btn-outline btn-primary btn-full" disabled ng-show="uploading">Uploading...</button>
                                </div>

                                <div class="part-row">
                                    Show Grid:
                                    <div class="pull-right">
                                        <div class="onoffswitch">
                                            <input type="checkbox" ng-model="uploadwall.gridstatus" name="onoffswitch" class="onoffswitch-checkbox" id="forgrid1">
                                            <label class="onoffswitch-label" for="forgrid1">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="part-row">
                                    Rotate Image:
                                    <div class="pull-right">
                                        <button class="btn btn-default pad-less" ng-click="rotateBackground();"><i class="fa fa-repeat"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="part-row">
                                    Zoom Image:
                                    <div class="full-width">
                                        <input type="range" min="50" max="150" ng-model="uploadwall.backZoom" ng-change="zoomBackground();">
                                    </div>
                                </div>

                            </div>

                        </uib-accordion-group>

                        <uib-accordion-group ng-click="changeAccordian(4);">
                            <uib-accordion-heading>Custom Framing<i class="fa fa-chevron-down pull-right"></i>
                            </uib-accordion-heading>
                            <div class="part">
                                <div class="part-row">
                                    Select Frames:
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="part-row">
                                    Wall Colour:
                                    <div class="pull-right">
                                        <span class="color-box" colorpicker-size="180" colorpicker-position="left" colorpicker ng-model="uploadwall.color" ng-style="{'background-color': uploadwall.color}"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="part-row">
                                    <div class="pull-right">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="formount" ng-model="uploadwall.mountEnabled" ng-change="onOrOffMount();">
                                            <label class="onoffswitch-label" for="formount">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <h3>Select Mount:</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="part-row" ng-show="uploadwall.mountEnabled">
                                    Mount Width (inches):
                                    <div class="pull-right">
                                        <input type="text" class="small-input" ng-model="uploadwall.mountWidth" ng-change="changeMountWidth();">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="part-row" ng-show="uploadwall.mountEnabled">
                                    Mount Colour:
                                    <div class="pull-right">
                                        <span class="color-box" colorpicker-size="180" colorpicker-position="left" colorpicker ng-model="uploadwall.mountColor" ng-style="{'background-color': uploadwall.mountColor}" ng-change="changeMountWidth();"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>

                    <button class="btn btn-outline btn-primary btn-full" ng-click="sendDiv(1);">Download View</button>
                    <button class="btn btn-outline btn-primary btn-full" ng-click="sendDiv(2);">Save to Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="style1-bg margin-top-20">
        <div class="container">
            <div class="" ng-hide="noFavs">
                <div class="padding-more" ng-hide="showLogin">
                    <h4 class="head-more">FAVOURITES<span class="link-viewall" ng-click="viewFav();">VIEW ALL</span></h4>
                    <div class="row">
                        <div class="col-md-2 col-sm-4" ng-repeat="fav in myFavourites | limitTo:6">
                            <div class="image-holder selected" ng-click="showThisPainting(fav.artwork._id);">
                                <img class="fix-img" ng-src="{{fav.artwork.image[0]|uploadpath}}" alt="Painting">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="noFavs">
                <p class="text-center font-special">You have not added any artworks to favourites yet.
                    <br>Click <i class="fa fa-heart" style="color:#cbcdd1;"></i> to add to favourites.</p>
            </div>
            <div class="padding-more text-center" ng-show="showLogin">
                <h4>Please <a><u ng-click="openLogin();">login</u></a> to view your favourites.</h4>
            </div>
        </div>
    </div>

</section>
