<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="pad-top-btm">
            <h4 class="head-team">VIEW ARTWORK IN YOUR ROOM</h4>
            <div class="room-options">
              <uib-accordion>
                <uib-accordion-group>
                  <uib-accordion-heading>Artwork Detail</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Create your wall</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Upload your wall</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Use wall templates</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Custom Framing</uib-accordion-heading>
                </uib-accordion-group>
              </uib-accordion>
            </div>
        </div>
    </div>
</section>
