<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="pad-top-btm">
            <h4 class="head-team">VIEW ARTWORK IN YOUR ROOM</h4>
            <div class="room-options">
              <uib-accordion>
                <uib-accordion-group>
                  <uib-accordion-heading>Artwork Detail</uib-accordion-heading>
                  <div class="painting-details">
                    <table class="table">
                          <tbody>
                             <tr>
                                <td>
                                   <span>2004</span>
                                </td>
                                <td>
                                </td>
                             </tr>
                             <tr class="font-color3">
                                <td class="labels">Artist:</td>
                                <td>
                                   Ajay De
                                </td>
                             </tr>
                             <tr>
                                <td class="labels">Title:</td>
                                <td>
                                   Horse Car
                                </td>
                             </tr>
                             <tr>
                                <td class="labels">Medium: </td>
                                <td>
                                   Charcoal on paper
                                </td>
                             </tr>
                             <tr>
                                <td class="labels">Size:</td>
                                <td>15 x 15 inches</td>
                             </tr>
                             <tr>
                                <td class="labels">Year:</td>
                                <td>2013</td>
                             </tr>
                             <tr>
                                <td class="labels">Price: </td>
                                <td>Rs 150,000 / $2,239
                                  <br><span>(excluding VAT)</span>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                  </div>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Create your wall</uib-accordion-heading>
                  <div class="part">
                    <div class="part-row">
                      Wall Size:
                      <div class="pull-right">
                        <span>H <input type="text"> ft.</span>
                        <span>w <input type="text"> ft.</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="part-row">
                      Wall Colour:
                      <div class="pull-right">
                        <span class="color-box"></span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Upload your wall</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Use wall templates</uib-accordion-heading>
                </uib-accordion-group>

                <uib-accordion-group>
                  <uib-accordion-heading>Custom Framing</uib-accordion-heading>
                </uib-accordion-group>
              </uib-accordion>
            </div>
        </div>
    </div>
</section>
