<div class="text-center middle-align">
  <div class="container">
    <h1 class="font-color3 fa fa-times-circle fa-4x"></h1>

    <h2 class="margin-top">Sorry! Your order is not placed!</h2>
    <p>
      Something went wrong while placing your order!
    </p>
      <div class="row super-margin">
        <div class="col-xs-offset-3 col-xs-6 text-center">
          <div class="padded-box style1-bg">
            <span class="bold">Order No.:</span> #{{order.orderid}}
          </div>
        </div>
      </div>
    <a class="btn btn-gold super-margin" ui-sref="home">Go Home</a>
  </div>
</div>
