<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="pad-top-btm">
            <h4 class="head-team">Aura Art Team</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="content-team">
                        <h4> Core Team</h4>
                        <div class="view-more">
                            <h5>Daljit S Sethi</h5>
                            <ul>
                                <li> Chairman, Aura Art </li>
                                <li> Director, Aura Art Development Pvt Ltd </li>
                                <li> Member, ICCR - Advisory Committee, Mumbai (Ministry of External Affairs, Government of India) </li>
                                <li> Director/Chairman - Art and Culture R.I. Dist. 3140 (Since 2006) </li>
                                <li> Founder &#38; Chairman - Noble Heart Foundation </li>
                                <li> Past President - Rotary Club of Kota </li>
                                <li> Deputy Governor RI Dist 3140 (1998-1999)</li>
                                <li> Founder &#38; Ex Chairman - Kota Heart Foundation</li>
                                <li> Founder &#38; Ex V. President - Badhit Bal Vikas Kendra</li>
                            </ul>
                            <a class="readmore pull-right" ng-click="status.open = !status.open">see more </a>
                            <accordion>
                                <accordion-group is-open="status.open">
                                    <ul>
                                        <li> An ardent fan and lover of Art, always eager to promote artists. Invested significant time and energy in the study of art in all its manifestations over the last 30 years. </li>
                                        <li> Entrepreneur, always in search of pursuits. Past and present business ventures include timber and forest business in Kashmir, mines and orchards in Rajasthan, stocks and finance at Vadodara and Mumbai.</li>
                                        <li> B Com, Diploma in Business Management.</li>
                                        <li> A Sportsman: Hockey, Football and Shooting and in the year 1973 was allocated a special .22 Bore Rifle by the National Rifle Association of India, Delhi.</li>
                                        <li> Founder: Kota Heart Foundation and Noble Heart Foundation - has been serving heart patients for over 30 years.</li>
                                        <li> Founder Member of School for Deaf, Dumb and Blind at Kota.</li>
                                        <li> Joined Rotary in 1976. Held all important positions since then. To name a few - Deputy Governor R I Dist 3140 in 1998-1999, Director/Chairman Promotion of Arts & Culture R I DIST 3140 (Since 2006).</li>
                                        <li> Won more than 50 trophies and awards including "OUTSTANDING SERVICE AWARD" and "SIGNIFICANT ACHIEVEMENT AWARD" by Rotary International President, "EXCEPTIONAL PROJECT AWARD" in the year 1990, prestigious "LOK SEVA AWARD" for service to Heart Patients, "RAJIV GANDHI EXCELLENCE AWARD" for outstanding services, achievements and contributions, 1996.</li>
                                        <li> ADDITIONAL CHIEF CONVENER - Bombay for HANDS OF HARMONY ACROSS INDIA organized at ALL INDIA LEVEL to express solidarity for peace and communal harmony. "Ekta Raksha Bandan Din" was organized in all State Capitals and District Towns of India from 1050 to 1115 hours on Martyrs Day, January 30,1994.</li>
                                        <li> For the UPLIFTMENT of brother and sister humans, convening and organizing talks by enlightened Masters, Philosophers, Scientists, Scholars and Selfless Social Workers on Rotary and other platforms, with special emphasis on subjects such as Peace, Harmony, Integration, Rebuilding India through right values, Art in all its magnificent facets and its softening and elevating effect etc.</li>
                                        <li> Took very active and keen interest in eradication of leprosy.</li>
                                        <li> Preservation of Playgrounds, Parks and open spaces with passion. In association with (late) Shri Chatrabhuj Bhai Narsee, an educationist and philanthropist and other friends,organized many lectures on the subject. Ensured students are not deprived of the necessary facility of playgrounds and open spaces for harmonious growth.</li>
                                        <li> Organiser, Charity auctions of Art conducted by Rotary as Deputy Governor of R I Dist 3140. Path -breaking initiatives were emulated at several other centres.</li>
                                        <li> I love my India campaign: To create national pride and patriotism in youth and citizens. It was inaugurated by then President of India Shri KR Narayanan in Mumbai. This programme was held under auspicious of Rotary when he was Deputy District Governor RI Dist 3140.</li>
                                        <li> When he was Deputy District Governor RI Dist 3140, RI Dist 3140 along with UNAIDS organized to sponsor an International conference on HIV/AIDS in Mumbai and invited Rotary Governors of India, Pakistan, Srilanka, Bangladesh, Nepal. Executive Director of UNAIDS and Assistant Secretary General of UN Dr Peter Piot, NACO, Health Officials of States of India and NGOs participated.
                                        </li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="view-more">
                            <h5>Harmeet S Sethi</h5>
                            <ul>
                                <li>CEO, Aura Art</li>
                                <li>Director, Aura Art Development Pvt Ltd</li>
                            </ul>
                            <a class="readmore pull-right" ng-click="status1.open = !status1.open">see more </a>
                            <accordion>
                                <accordion-group is-open="status1.open">
                                    <ul>
                                        <li> An ardent Art lover. Has comprehensively studied Art and traveled extensively throughout India gaining finer insights into Art and Artists over the last 14 years. Relentlessly pursued quest for identifying high quality artworks and building deep relationships with artists across the country. </li>
                                        <li> Largest contribution in building the enviable Aura Art collection over the last decade and in catalysing the development and promotional efforts of various artists.
                                        </li>
                                        <li>Instrumental in conceptualising and administering nearly 30 shows over the last 6 years, across the country.</li>
                                        <li> Managing family business of stocks and finance in Vadodara since 1995. Developed and successfully implemented trading techniques, relying significantly on Technical Analysis.</li>
                                        <li> Was Gold medalist at Stock Market Operations programme conducted by Vadodara Stock Exchange Ltd in 1995.</li>
                                        <li> Bachelor of Business Administration.</li>
                                        <li> A Sportsman - was Captain of Junior Hockey team at school and played Lawn Tennis upto state level in Maharashtra. Has completed basic course in Rifle shooting conducted by Baroda Rifle Club.</li>
                                        <li> Exhibits a deep sense of commitment and is very passionate about all endeavours he undertakes. A leader with high motivational and persuasive skills.</li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="view-more">
                            <h5>Rishiraj S Sethi</h5>
                            <ul>
                                <li>Chief Strategist, Aura Art</li>
                                <li>Director, Aura Art Development Pvt Ltd</li>
                            </ul>
                            <a class="readmore pull-right" ng-click="status3.open = !status3.open">see more </a>
                            <accordion>
                                <accordion-group is-open="status3.open">
                                    <ul>
                                        <li> Significant focus on research, related to investing in Art, over the last 8 years, including creating awareness of Art as an asset class. Formulated strategy for Aura Art and closely involved in forging and maintaining alliances.</li>
                                        <li> Working with Collectors, Corporates, Museums, Galleries and other stake holders to provide Art Infrastructure Solutions.</li>
                                        <li> Providing Integrated Art Solutions to Realty Developers and Space Designers.</li>
                                        <li> Worked with Ernst & Young/Andersen for 11 years (June 1997 to July 2008). As an Associate Vice President, Transaction Advisory Services, over the last couple of years, primarily focussed on M&A and fund raising for players in Healthcare, Pharma, Biotech and Real Estate industry. Prior to that, was part of the Global Tax Advisory Services team.</li>
                                        <li> Educational background: - Chartered Financial Analyst, US - AIMR, US (2000-2003, awarded CFA Charter in 2004) - Chartered Accountant - ICAI (1997-2000, secured 32nd rank on all-India basis at Intermediate level) - Diploma in Business Finance - ICFAI, Hyderabad (1997) - BCom from Narsee Monjee College (1997, overall 76%) - ICSE from Jamnabai Narsee School (1992, secured highest in Maths:99% & English:94%, overall 90%) </li>
                                        <li> Assisted a range of clients in identifying their investment objectives and designing (and periodically reviewing) a portfolio that achieves the objectives. This involved asset allocation over a range of available options and selection of individual investments that complement each other in a portfolio to maximise returns, given the risk profile.</li>
                                        <li> Authored a series of articles on Technical Analysis for a finance weekly, on specific buy/sell/hold recommendations on stocks, over a period of one and a half years.</li>
                                        <li> Involved in various community service projects, including teaching at St Catherine’s Home for 2 years, organising sports events/movies and Christmas celebrations for the children over the past 18 years, besides some Rotary and Rotaract projects.</li>
                                        <li> Other interests include reading, writing poetry and meditation (practising Sahaj Marg system, offered through Shri Ram Chandra Mission, under the guidance of Shri Parthasarathi Rajagopalachari).</li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="view-more pad-top-more">
                            <h4> Management Advisors </h4>
                            <ul>
                                <h5>Shri Nilesh Ganjwala</h5>
                                <li> CEO, Innergize Solutions Pvt Ltd
                                </li>
                                <h5>Shri Sewakpal A Bedi</h5>
                                <li>
                                    Director, Hotel Diplomat
                                </li>
                                <h5>Shri Vinit Ganjwala</h5>
                                <li> Director, Pinnacle & Mystique Promotions Pvt Ltd
                                </li>
                                <h5>Shri Premal Mehta</h5>
                                <li> MD, Wealth First Advisors Pvt Ltd
                                </li>
                                <h5>Shri Navroz Mahudawala</h5>
                                <li> Founder, Candle Partners
                                </li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <h4> Technical Advisors </h4>
                            <ul>
                                <h5>Padma Shri Keshav Malik</h5>
                                <li> Art critic and scholar New Delhi
                                </li>
                                <h5>Dr Shailendra K Kushwaha</h5>
                                <li>Dean of and HoD of Art History & Aesthetics Faculty of Fine Arts, MSU, Baroda
                                </li>
                                <h5>Shri Sidharth,</h5>
                                <li> New Delhi
                                </li>
                                <h5>Shri Dilip Ranade</h5>
                                <li> Mumbai
                                </li>
                                <h5>Shri Wasim Kapoor</h5>
                                <li> Kolkata
                                </li>
                                <h5>Shri Vrundavan Solanki</h5>
                                <li> Ahmedabad
                                </li>
                                <h5>Shri Vasudeo Kamath</h5>
                                <li> Mumbai
                                </li>
                                <h5>Shri Anil Naik</h5>
                                <li> Mumbai
                                </li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <h4> Communications</h4>
                            <ul>
                                <h5>Shri Satish Pillai</h5>
                                <li> Mumbai (Head)
                                </li>
                            </ul>
                        </div>
                        <div class="view-more">
                            <h4> With Blessings from</h4>
                            <ul>
                                <h5>Shri Parthasarathi Rajagopalachari</h5>
                                <li>
                                    President, Shri Ram Chandra Mission, Chennai
                                </li>
                                <h5>Swami Dayananda Saraswati</h5>
                                <li>
                                    Founder, Arsha Vidya Gurukulam, Coimbatore
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-team">
                        <div class="view-more">
                            <h4>   Patrons </h4>
                            <ul>
                                <h5>Dr Karan Singh</h5>
                                <li>
                                    (Patron-In-Chief) - Member of Parliament (Rajya Sabha) - President of Indian Council for Cultural Relations - Chairman, Committee of Ethics
                                </li>
                                <h5>
                                    Mrs Supriya Sule</h5>
                                <li>
                                    Member of Parliament (Lok Sabha)
                                </li>
                                <h5>Late Shrimant Ranjitsinh Gaekwad</h5>
                                <li>
                                    Maharaja of Baroda
                                </li>
                                <h5>Shri Bobby Parikh</h5>
                                <li>Managing Partner, BMR Advisors
                                </li>
                                <h5>Shri KN Memani</h5>
                                <li>
                                    Former Chairman &#38; CEO, E&#38;Y India
                                </li>
                                <h5>Shri Anil Dharker Eminent</h5>
                                <li>
                                    Writer &#38; Journalist
                                </li>
                                <h5>Mrs Anita Dongre</h5>
                                <li>
                                    Leading Fashion Designer
                                </li>
                                <h5>Shri Shahzaad Dalal</h5>
                                <li>
                                    VC &#38; MD, IL&#38;FS Investment Managers
                                </li>
                                <h5>Shri Basant Agarwal</h5>
                                <li>
                                    MD, Valpro
                                </li>
                                <h5>Shri Utkarsh Palnitkar</h5>
                                <li>
                                    Partner, KPMG
                                </li>
                                <h5>Shri Parvaiz Dalal</h5>
                                <li>
                                    MD, Head of Structured Trade, Commodity Financing &#38; Asset Distribution, Asia, Citibank
                                </li>
                                <h5>Shri Gurpreet Singh</h5>
                                <li>
                                    MD, Aakar Design Consultants
                                </li>
                                <h5>Ms Renu Dalal Director,</h5>
                                <li>
                                    Dalal Engineering
                                </li>
                                <h5>Dr Ramakanta Panda</h5>
                                <li>
                                    Chief Consultant - Cardio Thoracic Surgery, Asian Heart Institute
                                </li>
                                <h5>Shri Adi Jehangir</h5>
                                <li>
                                    Chairman, Jehangir Art Gallery
                                </li>
                                <h5>Dr JT Vyas</h5>
                                <li>
                                    HOD, Surgery, Nanavati Hospital
                                </li>
                                <h5>Dr Hrishikesh</h5>
                                <li>
                                    <span class="small">D Pai Gynac &#38; Head IVF Unit, Lilavati Hospital
                                </li>
                                <h5>Padma Vibhushan Pandit Birju Maharaj</h5>
                                <li>
                                    World renowned kathak dancer
                                </li>
                                <h5>Padma Bhushan Dr Girija Devi</h5>
                                <li>
                                    World renowned classical singer
                                </li>
                                <h5>Shri Nitin Killawala</h5>
                                <li>
                                    Leading Architect
                                </li>
                                <h5>Dr AD Sawant</h5>
                                <li>
                                    Ex-Vice Chancellor, Univ of Raj
                                </li>
                                <h5>Shri HC Parekh</h5>
                                <li>
                                    Ex-Director General of Income Tax
                                </li>
                                <h5>Shri PL Roongta</h5>
                                <li>
                                    Ex-Chief Comm of Income Tax
                                </li>
                                <h5>Mrs Inseeyah &#38; Mr Lamak Ezzuddin</h5>
                                <li>
                                    Director &#38; MD, Master Pieces
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
