<section class="team">
    <div class="border-top"></div>
    <div class="container">
        <div class="pad-top-btm">
            <h4 class="head-team">Aura Art Team</h4>
            <div class="team-style">
                <div class="row">
                    <div class="col-md-6">
                        <h4> Core Team</h4>
                        <h5>Daljit S Sethi</h5>
                        <ul>
                            <li>Director, Aura Art eConnect Pvt Ltd</li>
                            <li>Director, Aura Art Development Pvt Ltd</li>
                            <li>Chairman, Aura Art</li>
                            <li>Member, ICCR - Advisory Committee, Mumbai (Ministry of External Affairs, Government of India)
                            </li>
                            <li>Chairman, Art &#38; Culture, Spirituality &#38; Leadership, Fund Raising – RI Dist 3140
                            </li>
                            <li>Director, Art &#38; Culture - RI Dist 3140 (2014-15)</li>
                            <li>Deputy Governor RI Dist 3140 (1998-99)</li>
                            <li>Founder &#38; Chairman – Noble Heart Foundation</li>
                        </ul>
                        <a class="readmore pull-right" ng-click="status.open = !status.open">see more </a>
                        <accordion>
                            <accordion-group is-open="status.open">
                                <ul>
                                    <li>An ardent fan and lover of Art, always eager to promote artists. Invested significant time and energy in the study of art in all its manifestations over the last 30 years.</li>
                                    <li>Entrepreneur, always in search of pursuits. Past and present business ventures include timber and forest business in Kashmir, mines and orchards in Rajasthan, stocks and finance at Vadodara and Mumbai.</li>
                                    <li>B Com, Diploma in Business Management.</li>
                                    <li>A Sportsman: Hockey, Football and Shooting and in the year 1973 was allocated a special .22 Bore Rifle by the National Rifle Association of India, Delhi.</li>
                                    <li>Founder: Kota Heart Foundation and Noble Heart Foundation - has been serving heart patients for over 30 years.</li>
                                    <li>Founder Member of School for Deaf, Dumb and Blind at Kota.</li>
                                    <li>Joined Rotary in 1976. Held all important positions since then. To name a few - Deputy Governor R I Dist 3140 in 1998-1999, Director/Chairman Promotion of Arts &amp; Culture R I DIST 3140 (Since 2006).</li>
                                    <li>Won more than 50 trophies and awards including "OUTSTANDING SERVICE AWARD" and "SIGNIFICANT ACHIEVEMENT AWARD" by Rotary International President, "EXCEPTIONAL PROJECT AWARD" in the year 1990, prestigious "LOK SEVA AWARD" for service to Heart Patients, "RAJIV GANDHI EXCELLENCE AWARD" for outstanding services, achievements and contributions, 1996.</li>
                                    <li>ADDITIONAL CHIEF CONVENER - Bombay for HANDS OF HARMONY ACROSS INDIA organized at ALL INDIA LEVEL to express solidarity for peace and communal harmony. "Ekta Raksha Bandan Din" was organized in all State Capitals and District Towns of India from 1050 to 1115 hours on Martyrs Day, January 30,1994.</li>
                                    <li>For the UPLIFTMENT of brother and sister humans, convening and organizing talks by enlightened Masters, Philosophers, Scientists, Scholars and Selfless Social Workers on Rotary and other platforms, with special emphasis on subjects such as Peace, Harmony, Integration, Rebuilding India through right values, Art in all its magnificent facets and its softening and elevating effect etc.</li>
                                    <li>Took very active and keen interest in eradication of leprosy.</li>
                                    <li>Preservation of Playgrounds, Parks and open spaces with passion. In association with (late) Shri Chatrabhuj Bhai Narsee, an educationist and philanthropist and other friends,organized many lectures on the subject. Ensured students are not deprived of the necessary facility of playgrounds and open spaces for harmonious growth.</li>
                                    <li>Organiser, Charity auctions of Art conducted by Rotary as Deputy Governor of R I Dist 3140. Path -breaking initiatives were emulated at several other centres.</li>
                                    <li>I love my India campaign: To create national pride and patriotism in youth and citizens. It was inaugurated by then President of India Shri KR Narayanan in Mumbai. This programme was held under auspicious of Rotary when he was Deputy District Governor RI Dist 3140.</li>
                                    <li>When he was Deputy District Governor RI Dist 3140, RI Dist 3140 along with UNAIDS organized to sponsor an International conference on HIV/AIDS in Mumbai and invited Rotary Governors of India, Pakistan, Srilanka, Bangladesh, Nepal. Executive Director of UNAIDS and Assistant Secretary General of UN Dr Peter Piot, NACO, Health Officials of States of India and NGOs participated.
                                    </li>
                                </ul>
                            </accordion-group>
                        </accordion>


                        <h5>Harmeet S Sethi</h5>
                        <ul>
                            <li>Director, Aura Art eConnect Pvt Ltd</li>
                            <li>Director, Aura Art Development Pvt Ltd</li>
                            <li>CEO, Aura Art</li>
                        </ul>
                        <a class="readmore pull-right" ng-click="status1.open = !status1.open">see more </a>
                        <accordion>
                            <accordion-group is-open="status1.open">
                                <ul>
                                    <li>An ardent Art lover. Has comprehensively studied Art and traveled extensively throughout India gaining finer insights into Art and Artists over the last 14 years. Relentlessly pursued quest for identifying high quality artworks and building deep relationships with artists across the country.</li>
                                    <li>Largest contribution in building the enviable Aura Art collection over the last decade and in catalysing the development and promotional efforts of various artists.
                                    </li>
                                    <li>Instrumental in conceptualising and administering nearly 30 shows over the last 6 years, across the country.</li>
                                    <li>Managing family business of stocks and finance in Vadodara since 1995. Developed and successfully implemented trading techniques, relying significantly on Technical Analysis.</li>
                                    <li>Was Gold medalist at Stock Market Operations programme conducted by Vadodara Stock Exchange Ltd in 1995.</li>
                                    <li>Bachelor of Business Administration.</li>
                                    <li>A Sportsman - was Captain of Junior Hockey team at school and played Lawn Tennis upto state level in Maharashtra. Has completed basic course in Rifle shooting conducted by Baroda Rifle Club.</li>
                                    <li>Exhibits a deep sense of commitment and is very passionate about all endeavours he undertakes. A leader with high motivational and persuasive skills.</li>
                                </ul>
                            </accordion-group>
                        </accordion>

                        <h5>Rishiraj S Sethi</h5>
                        <ul>
                            <li>Director, Aura Art eConnect Pvt Ltd
                            </li>
                            <li>Director, Aura Art Development Pvt Ltd
                            </li>
                            <li>Chief Strategist, Aura Art
                            </li>
                        </ul>
                        <a class="readmore pull-right" ng-click="status2.open = !status2.open">see more </a>
                        <accordion>
                            <accordion-group is-open="status2.open">
                                <ul>
                                    <li>An ardent Art lover. Has comprehensively studied Art and traveled extensively throughout India gaining finer insights into Art and Artists over the last 14 years. Relentlessly pursued quest for identifying high quality artworks and building deep relationships with artists across the country.</li>
                                    <li>Largest contribution in building the enviable Aura Art collection over the last decade and in catalysing the development and promotional efforts of various artists.
                                    </li>
                                    <li>Instrumental in conceptualising and administering nearly 30 shows over the last 6 years, across the country.</li>
                                    <li>Managing family business of stocks and finance in Vadodara since 1995. Developed and successfully implemented trading techniques, relying significantly on Technical Analysis.</li>
                                    <li>Was Gold medalist at Stock Market Operations programme conducted by Vadodara Stock Exchange Ltd in 1995.</li>
                                    <li>Bachelor of Business Administration.</li>
                                    <li>A Sportsman - was Captain of Junior Hockey team at school and played Lawn Tennis upto state level in Maharashtra. Has completed basic course in Rifle shooting conducted by Baroda Rifle Club.</li>
                                    <li>Exhibits a deep sense of commitment and is very passionate about all endeavours he undertakes. A leader with high motivational and persuasive skills.</li>
                                </ul>
                            </accordion-group>
                        </accordion>


                        <h4> Management Advisors </h4>


                        <h5>Shri Nilesh Ganjwala</h5>
                        <p>CEO, Innergize Solutions Pvt Ltd
                        </p>
                        <h5>Shri Vinit Ganjwala</h5>
                        <p>Director, Pinnacle &#38; Mystique Promotions Pvt Ltd
                        </p>
                        <h5>Shri Premal Mehta</h5>
                        <p>MD, Wealth First Advisors Pvt Ltd
                        </p>
                        <h5>Shri Navroz Mahudawala</h5>
                        <p>Founder, Candle Partners
                        </p>






                        <h4> Technical Advisors </h4>

                        <h5>Padma Shri Keshav Malik</h5>
                        <p>Art critic and scholar New Delhi
                        </p>
                        <h5>Shri Sidharth,</h5>
                        <p>New Delhi
                        </p>
                        <h5>Dr Shailendra K Kushwaha</h5>
                        <p>Former Dean of and HoD of Art History &#38; Aesthetics Faculty of Fine Arts, MSU, Baroda
                        </p>
                        <h5>Shri Dilip Ranade</h5>
                        <p>Mumbai
                        </p>
                        <h5>Shri Wasim Kapoor</h5>
                        <p>Kolkata
                        </p>
                        <h5>Shri Vrundavan Solanki</h5>
                        <p>Ahmedabad
                        </p>
                        <h5>Shri Vasudeo Kamath</h5>
                        <p>Mumbai
                        </p>
                        <h5>Shri Anil Naik</h5>
                        <p>Mumbai
                        </p>

                        <h4> With Blessings from</h4>

                        <h5>Late Shri Parthasarathi Rajagopalachari</h5>
                        <p>
                            President, Shri Ram Chandra Mission, Chennai
                        </p>
                        <h5>Swami Dayananda Saraswati</h5>
                        <p>
                            Founder, Arsha Vidya Gurukulam, Coimbatore
                        </p>


                    </div>

                    <div class="col-md-6">


                        <h4>Patrons</h4>

                        <h5>Dr Karan Singh (Patron-In-Chief)</h5>
                        <ul>
                            <li>Member of Parliament (Rajya Sabha)</li>
                            <li>President of Indian Council for Cultural Relations</li>
                            <li>Chairman, Committee of Ethics</li>
                        </ul>

                        <h5>Mrs Supriya Sule</h5>
                        <p>
                            Member of Parliament (Lok Sabha)
                        </p>
                        <h5>Late Shrimant Ranjitsinh Gaekwad</h5>
                        <p>
                            Maharaja of Baroda
                        </p>
                        <h5>Shri Bobby Parikh</h5>
                        <p>Managing Partner, BMR Advisors
                        </p>
                        <h5>Shri KN Memani</h5>
                        <p>
                            Former Chairman &#38; CEO, Ernst &#38;Young India
                        </p>

                        <h5>Shri Anil Dharker</h5>
                        <p>
                            Eminent Writer &#38; Journalist
                        </p>
                        <h5>Mrs Anita Dongre</h5>
                        <p>
                            Leading Fashion Designer
                        </p>
                        <h5>Shri Shahzaad Dalal</h5>
                        <p>
                            Non Executive Director, IL&#38;FS Investment Managers Ltd
                        </p>
                        <h5>Shri Basant Agarwal</h5>
                        <p>
                            MD, Valpro
                        </p>
                        <h5>Shri Utkarsh Palnitkar</h5>
                        <p>
                            Partner, KPMG
                        </p>
                        <h5>Dr Archana Hingorani</h5>
                        <p>
                            CEO &amp; ED, IL&amp;FS Investment Managers Ltd
                        </p>
                        <h5>Shri Gurpreet Singh</h5>
                        <p>
                            MD, Aakar Design Consultants
                        </p>
                        <h5>Shri Parvaiz Dalal</h5>
                        <p>
                            MD, Head of Working Capital EMEA , Citibank London
                        </p>
                        <h5>Ms Renu Dalal</h5>
                        <p>
                            Director, Dalal Engineering
                        </p>
                        <h5>Dr Ramakanta Panda</h5>
                        <p>
                            Chief Consultant - Cardio Thoracic Surgery, Asian Heart Institute
                        </p>
                        <h5>Shri Adi Jehangir</h5>
                        <p>
                            Chairman, Jehangir Art Gallery
                        </p>
                        <h5>Shri Liyakat Ali Khan </h5>
                        <p>
                            MD, UBM Index Trade Fairs Pvt Ltd
                        </p>
                        <!-- <h5>Dr JT Vyas</h5>
                        <p>
                            HOD, Surgery, Nanavati Hospital
                        </p> -->
                        <h5>Dr Hrishikesh D Pai</h5>
                        <p>
                            Gynac &#38; Head IVF Unit, Lilavati Hospital
                        </p>
                        <h5>Padma Vibhushan Pandit Birju Maharaj</h5>
                        <p>
                            World renowned Kathak dancer
                        </p>
                        <h5>Padma Bhushan Dr Girija Devi</h5>
                        <p>
                            World renowned Classical singer
                        </p>
                        <h5>Shri Nitin Killawala</h5>
                        <p>
                            Leading Architect
                        </p>
                        <h5>Dr AD Sawant</h5>
                        <p>
                            Ex-Vice Chancellor, University of Rajasthan
                        </p>
                        <h5>Shri HC Parekh</h5>
                        <p>
                            Ex-Director General of Income Tax
                        </p>
                        <h5>Shri PL Roongta</h5>
                        <p>
                            Ex-Chief Comm of Income Tax
                        </p>


                        <h4> Communications</h4>

                        <h5>Shri Satish Pillai</h5>
                        <p>Mumbai (Head)</p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
