<div class="padding-more terms-cont">
   <div class="container">
      <h4 class="head-team">Terms &amp; Conditions</h4>
      <div class="scroll-y">
         <h5 class="bold head-terms">Seller (Artist)</h5>
         <ol>
            <li>Submission of Artworks on the Website:
               <ol>
                  <li>As an artist, you may submit listings for only those Original Works of Art that you have created and desire to sell through the Aura Art Website (“Website”). </li>
                  <li>In order that data submitted by you be accepted for listing on the Website, you must provide Aura Art with all the information requested for, on the applicable page of the Website.</li>
                  <li>Please be accurate while submitting data for listing of Artworks. The Buyer reserves the right to return an Artwork purchased by him / her / it if there is a material difference between the colour or physical condition of the actual
                     Artwork as compared to its image, as submitted by you. The Buyer also reserves the right to return an Artwork purchased by him / her / it if there is a difference between the size mentioned by you and the actual Artwork. </li>
                  <li> A Curatorial Team will approve the Artwork(s) submitted by you and only then shall the Artworks submitted online by you appear on the Website for sale on consignment basis. </li>
                  <li> Please remember that the appearance of listings in Search Results may be based on different factors including keywords. Hence, although entering keywords while submitting data is not mandatory it may be useful for you to enter multiple
                     keywords directly relevant to the Art Work being submitted by you. </li>
                  <li> Images of Art Work(s) submitted by you on the Website should not be simultaneously available on any other online portal including on your website (if any), for display or sale.</li>
               </ol>
            </li>
            <li>
               Listing of Art Works on the Website:
               <p>Image of Art Work(s) once approved by the Curatorial Team will remain on the Website for a minimum period of 180 days from the date of approval, for display and sale, on consignment basis. </p>
            </li>
            <li>
               Sales Commission, Taxes and Payment Terms:
               <ol>
                  <li>
                     In the event of Sale, Aura Art will retain a pre agreed margin from the Selling Price and pay the balance amount due to you within 21 days after the Art Work is delivered to the Buyer or full payment received from the Buyer, whichever is later. The amount
                     due to you will be paid to you either by transfer / RTGS / NEFT to your Bank Account, details of which are provided by you on your Profile Page, or you will be sent a Demand Draft / Account Payee Cheque via Courier / Speed Post /
                     Post.
                  </li>
                  <li>
                     In the event you are charging VAT or any other indirect taxes to Aura Art on sale, you will have to provide a Tax Invoice and other incidental declarations Aura Art may require from you.
                  </li>
               </ol>
            </li>
            <li>
               Delivery of Artwork(s):
               <ol>
                  <li>Upon intimation of confirmation of sale of your Artwork by Aura Art, you shall promptly commence packing the Artwork(s) in the form indicated by Aura Art. Painting(s) shall be safely packed in the form advised by Aura Art ie Rolled works
                     packed in a PVC Pipe or Stretched / Framed works packed and created in a wooden box . Sculpture shall be appropriately packed in a Wooden Crate. The cost of packing and shipping the Artwork to the Aura Art Office at Mumbai will be
                     borne by you.
                  </li>
                  <li> In the event a Buyer returns an Artwork purchased by him / her / it due to reasons stated in Point No. 1.3 above, you will be responsible and liable for any loss / expenses incurred by Aura Art by virtue of such returns, including but
                     not limited to costs incurred in packing and shipping artworks to the buyer and the cost of repacking and shipping the Artwork from the Buyer’s destination to your address.
                  </li>
               </ol>
            </li>
            <li>
               Failure to Deliver Artwork(s):
               <p>If for any reason whatsoever an Artwork submitted by you and listed on the Website is sold directly by you, you will promptly inform Aura Art about the same, but not later than 48 hours of the sale. In such cases, Aura Art will be entitled
                  to half the pre agreed margin on the listed price. In the event you do not inform Aura Art about its sale or for any other reason whatsoever, an Art Work is enquired for by Aura Art or is sold by Aura Art, and you are unable to promptly
                  deliver the Art Work , Aura Art is in such case entitled to the full pre agreed margin on the listed price. </p>
            </li>
            <li>
               Authentication Certificate:
               <p>Upon intimation of confirmation of sale of your Artwork by Aura Art, you will have to send the Original Authentication Certificate signed by you along with the Artwork. </p>
            </li>
            <li>
               Responsibility for Artworks:
               <ol>
                  <li> as to Original Works of Art that you make available through the Website, you are the creator of all such Original Works of Art and you are the sole and exclusive owner of all such Original Works of Art; </li>
                  <li>as to Digital Works that you make available through the Website, you are either the sole and exclusive owner of all such Digital Works or you have all rights, licenses, consents and releases that are necessary to grant to Aura Art the
                     rights in such Digital Works as contemplated under these Terms ; and </li>
                  <li> neither the Original Works of Art nor Digital Works that you make available through the Website nor Aura Art's use thereof as contemplated under these Terms will infringe, misappropriate or violate a third party's patent, copyright,
                     trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
                  </li>
               </ol>
            </li>
         </ol>
         <h5 class="bold head-terms">Reseller</h5>
         <ol>
            <li>
               Submission of Artworks on the Website:
               <ol>
                  <li> Please be accurate while submitting data for listing of Artworks. The Buyer reserves the right to return an Artwork purchased by him / her / it if there is a material difference between the colour or physical condition of the actual
                     Artwork as compared to its image, as submitted by you. The Buyer also reserves the right to return an Artwork purchased by him / her / it if there is a difference between the size mentioned by you and the actual Artwork.
                  </li>
                  <li> A Curatorial Team will approve the Artwork(s) submitted by you and only then shall the Artworks submitted online by you appear on the Website for sale on consignment basis.
                  </li>
                  <li> Please remember that the appearence of listings in Search Results may be based on different factors including keywords. Hence, although entering keywords while submitting data is not mandatory it may be useful for you to enter multiple
                     keywords directly relevant to the Art Work being submitted by you.
                  </li>
                  <li> Images of Art Work(s) submitted by you on the Website should not be simultaneously available on any other online portal, for display or sale.
                  </li>
               </ol>
            </li>
            <li>
               Listing of Art Works on the Website:
               <p>Image of Art Work(s) once approved by the Curatorial Team will remain on the Website for a minimum period of 180 days from the date of approval, for display and sale, on consignment basis, unless agreed otherwise in writing. </p>
            </li>
            <li>
               Sales Commission, Taxes and Payment Terms:
               <ol>
                  <li>In the event of Sale, Aura Art will retain a pre agreed margin from the Selling Price and pay the balance amount due to you within 21 days after the Art Work is delivered to the Buyer or full payment received from the Buyer, whichever
                     is later. The amount due to you will be paid to you either by transfer / RTGS / NEFT to your Bank Account, details of which are provided by you on your Profile Page, or you will be sent a Demand Draft / Account Payee Cheque via Courier
                     / Speed Post / Post.</li>
                  <li>In the event you are charging VAT or any other indirect taxes to Aura Art on sale, you will have to provide a Tax Invoice and other incidental declarations Aura Art may require from you. </li>
               </ol>
            </li>
            <li>
               Delivery of Artwork(s):
               <ol>
                  <li>Upon intimation of confirmation of sale of your Artwork by Aura Art, you shall promptly commence packing the Artwork(s) in the form indicated by Aura Art. Painting(s) shall be safely packed in the form advised by Aura Art ie Rolled works
                     packed in a PVC Pipe or Stretched / Framed works packed and created in a wooden box . Sculpture shall be appropriately packed in a Wooden Crate. The cost of packing and shipping the Artwork to the Aura Art Office at Mumbai will be
                     borne by you.
                  </li>
                  <li>
                     In the event a Buyer returns an Artwork purchased by him / her / it due to reasons stated in Point No. 1.3 above, you will be responsible and liable for any loss / expenses incurred by Aura Art by virtue of such returns, including but not limited to costs
                     incurred in packing and shipping artworks to the buyer and the cost of repacking and shipping the Artwork from the Buyer’s destination to your address.
                  </li>
               </ol>
            </li>
            <li>
               Failure to Deliver Artwork(s):
               <p>
                  If for any reason whatsoever an Artwork submitted by you and listed on the Website is sold directly by you, you will promptly inform Aura Art about the same, but not later than 48 hours of the sale. In such cases, Aura Art will be entitled to half the
                  pre agreed margin on the listed price. In the event you do not inform Aura Art about its sale or for any other reason whatsoever, an Art Work is enquired for by Aura Art or is sold by Aura Art, and you are unable to promptly deliver
                  the Art Work , Aura Art is in such case entitled to the full pre agreed margin on the listed price.
               </p>
            </li>
            <li>
               Authentication Certificate:
               <p>
                  Upon intimation of confirmation of sale of your Artwork by Aura Art, you will have to send the Original Authentication Certificate alongwith the Artwork.
               </p>
            </li>
            <li>
               Responsibility for Artworks:
               <p>You acknowledge and agree that you are solely responsible for all Original Works of Art and Digital Works that you make available through the Website. Accordingly, you represent and warrant that : </p>
               <ol>
                  <li>as to Original Works of Art that you make available through the Website, you are the sole and exclusive owner of all such Original Works of Art or you have all rights to make them available through the website; </li>
                  <li>as to Digital Works that you make available through the Website, you are either the sole and exclusive owner of all such Digital Works or you have all rights, licenses, consents and releases that are necessary to grant to Aura Art the
                     rights in such Digital Works as contemplated under these Terms ; and </li>
                  <li>neither the Original Works of Art nor Digital Works that you make available through the Website nor Aura Art's use thereof as contemplated under these Terms will infringe, misappropriate or violate a third party's patent, copyright,
                     trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</li>
               </ol>
            </li>
         </ol>
      </div>
      <div class="mr10">
         <p>By clicking on Agree, I hereby submit that I have fully read, understood, acknowledged and agreed to all the Terms and Conditions stated above.</p>
      </div>
   </div>
</div>
<div class="text-center">
   <a class="btn btn-sucesses" href="" ng-click="makeReseller();">Agree</a>
   <a class="btn btn-sucesses" href="#/home">Disagree</a>

</div>
