<div class="text-center middle-align">
  <div class="container">
    <h1 class="font-color4 fa fa-check-circle fa-4x"></h1>

    <h2 class="margin-top">Thank You!</h2>
    <p>
      Your order was placed successfully!
    </p>
      <div class="row super-margin">
        <!-- <div class="col-xs-offset-3 col-xs-6">
          <div class="padded-box style1-bg pull-left">
            <span class="bold">Order No.:</span> #12314
          </div>
          <div class="padded-box style1-bg pull-right">
            <span class="bold">Total Amount:</span> Rs 30,000 / $ 400
          </div>
        </div> -->
      </div>
    <a class="btn btn-gold super-margin" ui-sref="home">View More Artworks</a>
  </div>
</div>
