<div class="container">
    <div class="copy">
        <div class="row">
            <div class="col-md-8">
                <p>Copyright &copy;
                    {{template.year}}
                    Aura Art Development Pvt. Ltd., Aura Art eConnect Pvt. Ltd. | 
                    <span class="footer-terms">
                      <a ui-sref="buyerstermcondition">Terms &amp; Conditions</a>
                      |
                      <a ui-sref="privacypolicy">Privacy Policy</a>
                    </span>
                  </p>
                <div class="text-center footer-terms">

                </div>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <p>Developed by
                        <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
