<div class="row above-nav">
    <div class="col-md-4 col-sm-4">
        <form ng-submit="getSearchedArt();" class="">
            <div class="input-group ingroup x rel">
                <input type="search" class="form-control" autocomplete="off" numbers-only required id="topsearch" placeholder="Search..." ng-model="art.search" ng-change="onSearchChange(art.search)">
                <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
                <ul class="posa" ng-if="searchData!=''">
                    <li ng-repeat="data in searchData" ng-click="selectSearch(data)"><span class="pull-right"> {{data.type}}</span>{{data.name}}</li>
                </ul>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="social-icons">
            <ul>
                <li>
                  <a href="https://www.facebook.com/Aura-Art-226467107365879/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                </li>
                <li>
                  <a href=""  target="_blank"><i class="fa fa-twitter-square"></i></a>
                </li>
                <li>
                  <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/auraartdpl/" target="_blank"><i class="fa fa-youtube-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-sm-5 row-flex login-head">
        <div class="col-flex box-height">
            <a ng-click="reachOut()">
                <div class="style1-bg small-box"><i class="fa fa-phone"></i>
                </div>
                <div class="inline-box">Reach Out</div>
            </a>
        </div>
        <div class="col-flex box-height" ng-click="showLogin();" ng-hide="showWishlist">
            <div class="style4-bg small-box"><i class="fa fa-user"></i>
            </div>
            <div class="inline-box">Login</div>
        </div>
        <div class="col-flex box-height" ng-show="showWishlist" ng-click="toaccount();">
            <div class="style4-bg small-box"><i class="fa fa-user"></i>
            </div>
            <div class="inline-box">{{user.name}}</div>
            <div class="sub-menu logout" ng-click="logout();">
                <!-- <div class="style3-bg small-box">
                    <i class="fa fa-sign-out"></i>
                </div> -->
                <div class="text-center">Logout</div>
            </div>
        </div>
        <script type="text/ng-template" id="demopoplogin">
            Hello World!
        </script>
        <div class="col-flex box-height" ng-show="showWishlist">
            <a href="#/favorite">
                <div class="style3-bg small-box"><i class="fa fa-heart"></i>
                </div>
                <div class="inline-box"><span class="">Favourite</span>
                </div>
            </a>
        </div>
        <div class="col-flex box-height list-cart" ui-sref="cart" ng-controller="cartdropctrl" ng-mouseover="showcart(0)" ng-mouseleave="hidecart(0)">
            <div class="style2-bg small-box">{{cartItems.length}}</div>
            <div class="inline-box">
                My Cart
            </div>
            <div class="megamenu" ng-include src="cartval[0]" ng-show="carts[0]">
            </div>
        </div>
    </div>
</div>
