<div ng-controller="headerctrl">
    <header class="stickyheader" scroll>
        <div class="container">
            <div class="row">
                <div class="col-md-3 nopad-right text-center">
                    <a href="#/home">
                        <img src="img/logofixed.jpg" alt="logo" class="img-responsive logo">
                    </a>
                </div>
                <div class="col-md-9  nopad-left">
                  <div ng-include="template.headerBar"></div>
                </div>
            </div>
        </div>
    </header>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 nopad-right text-center">
                    <a href="#/home">
                        <img src="img/logo.jpg" alt="logo" class="img-responsive logo">
                    </a>
                </div>
                <div class="col-md-9  nopad-left">
                    <div ng-include="template.headerBar"></div>
                    <div class="clearfix"></div>
                    
                    <!--Nav bar-->
                    <nav class="navbar">
                        <div class="navbar-header">

                        </div>
                        <div class="collapse navbar-collapse nopad" id="nav-collapse">
                            <div ng-include="template.menu" class="template menu"></div>
                        </div>
                    </nav>
                    <!--Nav bar-->
                </div>
            </div>
        </div>
    </header>
</div>
