.dim.dim-w:before, .dim.dim-w:after {
  width: calc(50% - 40px);
}

.dim.dim-h:before, .dim.dim-h:after {
  height: calc(50% - 20px);
}
.material-cont {
    margin: 0;
}
.user-made h5{
    margin: 0;
}
.artist-cont-detail p{
    margin: 0;
}