<div class="wall-builder">
    <div class="height-holder" ng-style="{'background-color': model.color}">
        <div class="wall-image" id="wall" ng-style="{'background-image':'url({{model.wallImage | wallpath}})'}" ng-if="model.wallImage"></div>

        <div class="painting-holder" id="draggable-element">
            <img ng-src="{{model.paintingImage|uploadpath}}" alt="Painting" height="{{model.paintingHeight}}" ng-if="model.paintingImage" id="paintingImg">
        </div>

        <!-- <div class="furniture-holder">
          <img src="img/room-view/sofa.png" alt="sofa">
        </div> -->

        <div class="grid-holder" ng-if="grid.status">
            <div class="horizontal-line" ng-repeat="i in getTimes(model.horizontalCount) track by $index" ng-style="{'margin-bottom' : model.pixels}"></div>
            <div class="vertical-holder">
                <div class="vertical-line" ng-repeat="i in getTimes(model.verticalCount) track by $index" ng-style="{'margin-left' : model.pixels}"></div>
            </div>
        </div>

    </div>
</div>
