<div class="border-top"></div>
<section class="favorites cart">
  <div class="container">
    <div class="media min-cont">
      <h4 class="head-team">Contact us</h4>

      <div class="row">
        <div class="col-md-4">
          <p>
            <span class="bold">Rishiraj S Sethi</span>
            <br>
            <a href="tel:+919820345740">+91 98203 45740</a>
            <br>
            <a href="mailto:rishiraj@auraart.in">rishiraj@auraart.in</a>
          </p>

          <p>
            <span class="bold">Harmeet S Sethi</span>
            <br>
            <a href="tel:+919328877000">+91 93288 77000</a>
            <br>
            <a href="mailto:harmeet@auraart.in">harmeet@auraart.in</a>
          </p>
          <p>
            <span class="bold">Daljit S Sethi</span>
            <br>
            <a href="tel:+919820351667">+91 98203 51667</a>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <a href="https://www.google.co.in/maps/place/T+V+Industrial+Estate/@19.0083539,72.8186243,17z/data=!3m1!4b1!4m2!3m1!1s0x3be7ce9666f45875:0x10b9a61ac553343a?hl=en" target="_blank" class="bold">
              <i class="fa fa-map-marker"></i>
              Gallery-cum-office</a>
            <br>126, TV Industrial Estate
            <br>SK Ahire Marg, Worli
            <br>Mumbai - 400 030
            <br>Tel:
            <a href="tel:+9124912325">+91 24912325</a>
          </p>
          <p>
            <a href="https://www.google.co.in/maps/place/Fortune+Tower,+Jetalpur+Rd,+Sarod,+Sayajiganj,+Vadodara,+Gujarat+390001/@22.3083888,73.1834355,17z/data=!3m1!4b1!4m2!3m1!1s0x395fcf524fc2204d:0xdd8fd0161400b0a3?hl=en" target="_blank" class="bold">
              <i class="fa fa-map-marker"></i>
              Office</a>
            <br>633, Fortune Tower
            <br>Sayajigunj
            <br>Vadodara - 390 005
          </p>
          <p>
            <a href="https://www.google.co.in/maps/search/Gulmohar+cross+road+no+7,+Vile+Parle/@19.1141173,72.8356411,20z?hl=en" target="_blank" class="bold">
              <i class="fa fa-map-marker"></i>
              Registered Office</a>
            <br>Mangal Prabhat, 7th Floor
            <br>Gulmohar Cross Road No 7
            <br>Vile Parle (W)
            <br>Mumbai - 400 049
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span class="bold pointer" ng-click="reachOut();">
              <i class="fa fa-phone"></i>
              Purchase</span>
            <br>
            <a href="mailto:connect@auraart.in">connect@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="becomeSeller();">
              <i class="fa fa-upload"></i>
              Artist to submit artworks</span>
            <br>
            <a href="mailto:artistsubmit@auraart.in">artistsubmit@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="becomeSeller();">
              <i class="fa fa-upload"></i>
              Collectors / Galleries to submit artworks</span>
            <br>
            <a href="mailto:resellersubmit@auraart.in">resellersubmit@auraart.in</a>
          </p>
          <p>
            <span class="bold pointer" ng-click="reachOut();">
              <i class="fa fa-phone"></i>
              The Art Enclave related submissions</span>
            <br>
            <a href="mailto:theartenclave@auraart.in">theartenclave@auraart.in</a>
          </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="contact-form">
            <h4 class="">Send Us Query</h4>
            <form ng-submit="">
              <div class="chngpswd-cont paddtop info">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-id">
                        <input class="form-control" placeholder="Name" type="text" ng-model="query.name">
                      </div>
                      <div class="input-id">
                        <input class="form-control" placeholder="Phone No" type="tel" ng-model="query.phone">
                      </div>
                      <div class="input-id">
                        <input class="form-control" placeholder="Email ID*" required type="email" ng-model="query.email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-id">
                        <textarea class="form-control" placeholder="Observations &amp; Queries*" ng-model="query.comment" style="height: 122px;"></textarea>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-sucesses" type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
